[2015-02-08 15:16] fhibler opened #25 "Errors, when loading RIPE DB full dump"
Hi,
I took the latest RIPE DB dump from ftp://ftp.ripe.net/ripe/dbase and loaded it in IRRd using the following config params:
"irr_database ripe authoritative"

The log itself then looks like the following:
http://pastebin.com/iisLQaD3

[2015-02-08 15:18] job commented on #25
storing log here for future reference:

[code]

[2015-02-08 15:20] job commented on #25
Why did you config it as authoritive? If you just mirror this would be more appropiate config:

[code]

[2015-07-20 16:24] job opened #26 "by default prevent route-objects with origin 23456 from being created / accepted over NRTM"
23456 probably never is a legit origin ASN

By default prevent route-objects with origin 23456 from being created / accepted over NRTM

[2015-07-20 16:27] jaredmauch commented on #26
This should perhaps be an option that by default drops these objects and possibly also rejects the creation of objects using this origin ASN as well.  an AS-SET using this object should either flag the ASN as invalid or remove/ignore that component.

[2015-09-17 21:20] davidc opened #29 "Version number should not start with 'v'"
Version number reported to client must not start with 'v', thanks to this wonderful piece of code in irrtoolset to parse the version number!

   start = strstr(buffer, "version");
   start = start + 8; //jump
   version = atoi(start)*10 + atoi(start+2); // x.x... format

[2015-09-17 21:23] job commented on #29
`src/configure.ac` and `src/Make.include.in` will need a fix.

[2016-01-26 15:52] solevi opened #32 "Filter option is not showing under show config."
Hi Job,
I've faced problem with filter option.
In etc/irrd.conf i have following:
irr_database ripe mirror_host 193.0.6.135 4444
irr_database ripe mirror_protocol 3
irr_database ripe clean 172800
irr_database ripe max_journal_bytes 134217728
irr_database ripe filter routing-registry-objects|route6

but in actual # show config i can see that filter line is missing.
There is nothing significant in t

[2016-01-26 15:53] solevi commented on #32
Just noticed that # show database shows:
ripe  (filter 0xffffffffffffa300)

[2016-03-24 02:23] a16 opened #33 "Doesn't work !i(as-set) query correctly with multiple source(!s) was specified"
Hi,

It doesn't seems that the query with !i option works correctly after multiple source was specified using !s in multiple-command mode.
Is it a known bug?

For example,

[code]

It works fine when single source was specified. :-)

[code]

The first source only seems to be used. So the result will be depends on the order of sources. :(

[2016-06-09 21:22] haussli commented on #29
d9194a9a9368c1607ce3a8453a13e4e2328f7ddc

[2016-06-09 21:22] #29 closed

[2016-06-09 23:43] haussli commented on #33
It returns the first match based on the order of the databases in the configuration of the server; as far as I know, it has always worked this way.

[2016-06-16 18:12] job opened #35 "Failure to make without autotools"
On Ubuntu 12 and Ubuntu 14 and FreeBSD, the `./configure` script works, but 'make' seems to fail because `aclocal-1.15` is expected. It is not clear why the Makefile script expects `aclocal-1.15`

Example run:

[code]

[2016-06-16 19:07] job commented on #35
fixed via c36f213abda8f6bf2f46aa4a7dc32b3ba6701b17

[2016-06-16 19:07] #35 closed

[2016-06-16 21:38] job opened #36 ""make dist" produces incomplete archive"
steps to repo:

[code]

produces:

[code]

[2016-06-25 00:55] haussli opened #37 "irrd.conf location"
iird.conf location should follow $(DESTDIR) in autoconf.

[2016-07-01 17:04] devicenull opened #38 "irrd-user.pdf is unreadable in Chrome"
It seems that Chrome's PDF reader is eating all the newlines in irrd-user.pdf, making it an unreadable blob of text

[2017-01-30 01:37] tangledhelix commented on #38
This is not limited to Chrome. I see the same result in Safari (Mac), and if cloning the repo (no browser involved), the PDF still renders poorly in a standalone PDF viewer.

[2017-02-03 13:57] tejasbelur opened #41 "irr_notify gives error "*****No sendmail or mail binary found on system!***""
When irr_notify program tries to send notification email for object updates in routing db the following error message is logged in submission.log file:

Feb  3 13:46:50 [8209] *****No sendmail or mail binary found on system!***
Feb  3 13:46:50 [8209] *****No notifications will be sent***

The config .log has the following logged for sendmail program/command:
[abc@xyz]$ grep -i sendmail  config.log

[2017-02-03 22:03] haussli commented on #41
Fri, Feb 03, 2017 at 05:57:18AM -0800, Tejas Belur:

can you move forward to 3.0.8?

[2017-02-06 04:39] tejasbelur commented on #41
Thanks for your quick response. Installed 3.0.8 but still the same error is persisting. Details below:

[abc@xyz sbin]$ tail -n 5 /var/log/irrd/submission.log
Feb  6 04:24:00 [23651] NO CHANGE: [route] 65.49.224.0/22 AS38621
Feb  6 04:24:00 [23651] *****No sendmail or mail binary found on system!***
Feb  6 04:24:00 [23651] *****No notifications will be sent***
Feb  6 04:24:00 [23651]

[abc@xyz sbi

[2017-02-07 09:33] tejasbelur commented on #41
Hi @haussli , this is a bit urgent issue and hence it would be great if you can guide on the resolution - whether code issue or config issue or whether I need to raise issue via some other channel. Thanks in advance!

[2017-08-31 07:09] ssinyagin opened #44 "RIPE indexing error"
I'm running a mirror of RIPE database on IRRd from git master. Queries on some RIPE objects produce garbage output (I found so far only one such object).

Configuration:
[code]

Query and result:
[code]

[2017-08-31 07:16] ssinyagin commented on #44
also garbage here, I just took the latest as-set object from ripe.db:
[code]

[2017-08-31 11:54] ssinyagin commented on #44
I re-downloaded fresh databases from radb.net and ripe.net, but the issue is still the same (the garbage output is different now)

[2017-08-31 11:57] job commented on #44
what does the original object look like

[2017-08-31 11:57] ssinyagin commented on #44
Also garbage output:
[code]

[2017-08-31 11:58] ssinyagin commented on #44
The original is a normal as-set object, you can query them from RIPE or RADB

[2017-08-31 11:59] job commented on #44
Do you also have the problem if you add to your configuration

`irr_database ripe filter routing-registry-objects|route6`

Do you need inetnum information at all?

[2017-08-31 12:01] ssinyagin commented on #44
Will give it a try. I need only AS sets and numbers, and routes.

[2017-08-31 12:03] job commented on #44
I think most IRRd users run with that filter I pasted because they only need a subset of data, like you and me. It may be that the bug is not exposed with that filter enabled

[2017-08-31 12:10] ssinyagin commented on #44
with this filter, the memory footprint is much less than before, but the search for AS-DYNANET still produces garbage:

[code]

[code]

[2017-08-31 12:13] job commented on #44
Can you check which version or commit of IRRd introduces this problem? I cannot reproduce on IRRd 2.3.10

[2017-08-31 12:15] job commented on #38
@erikr was kind enough to fix this through https://github.com/irrdnet/irrd/commit/da828ea5868a82307b5008c49960558c1e4b9d2a

[2017-08-31 12:15] #38 closed

[2017-08-31 13:19] ssinyagin commented on #44
I reproduced it with v2.3.10, so it must be something in fresh dump from ftp.ripe.net

[2017-08-31 13:28] ssinyagin opened #45 ""make install" fails for non-root"
programs/irr_notify/Makefile has a hardcoded owner and group in install target: `-o root -g bin`.

So, a non-root user has to modify the Makefile to make the installation complete. In our environment, root user is not allowed by IT, and I believe it's quite common in many places.

So, the installuser should be defined within "configure" script.

[2017-08-31 13:59] job commented on #45
Pull request is welcome

[2017-08-31 14:07] job commented on #44
maybe there is some strange character somewhere

[2017-08-31 18:11] ssinyagin commented on #44
in
[code]
the failure is somewhere between lines 3000 and 8000. I'll make a script that finds the place where it starts failing.

[2017-09-01 12:18] ssinyagin commented on #44
Here, after a non-ASCII symbol, it went crazy:

[code]
I installed a fresh dump from ripe.net, and disabled mirroring, and then all objects before this one are fine, and the objects after that one are generating garbage.

Please adapt the *.db reading procedure to accept non-ASCII symbols. This one is a Latin1 symbol, and I guess there might also be Unicode symbols eventually.

[2017-09-02 15:26] ssinyagin commented on #45
I'll make one as soon as #44 is resolved. Also I'll make an update on .gitignore, as there are many files that git shows in 'git status' after compiling.

[2017-09-06 15:04] ssinyagin commented on #44
I described the problem to RIPE DBM, and they say it's up to IRRd developers to fix this issue.

[2017-09-06 15:15] job commented on #44
I'd welcome a patch :)

[2017-09-06 20:40] ssinyagin commented on #44
I'm afraid it would take too much time for me to explore the depths of the code

[2017-09-06 21:43] job commented on #44
yes, this is a challenge :(

[2017-10-18 02:47] guzzim opened #46 "segfault on show config with access-list"
When you use the uii and issue a 'show config', irrd segfaults if your config contains access-list statements.

$ telnet 127.0.0.1 5674
Trying 127.0.0.1...
Connected to 127.0.0.1.
Escape character is '^]'.
IRRd version 3.0.9rc2-42-g983b

User Access Verification

localhost Password: ****
localhost IRRd# config
localhost Config> show
#################################################################

[2017-10-18 04:47] guzzim commented on #46
strace -f .... forgot about threads.  Hopefully this is more helpful.

[pid  9496] write(1, "Oct 18 15:44:34 [184467440724318"..., 84Oct 18 15:44:34 [18446744072431888128] UII command access-list %d (permit|deny) all
) = 84
[pid  9496] sendto(8, "localhost Config> ", 18, 0, NULL, 0) = 18
[pid  9496] select(9, [8], NULL, NULL, {300, 0}) = 1 (in [8], left {299, 303467})
[pid  9496] recvfrom(8, "s",

[2018-02-22 20:32] lytboris commented on #44
It turned out that this bug is not Latin1 related in any way but is all about DB size: RIPEdb has grown over 4Gb.

You can try to apply this patch:
https://github.com/lytboris/irrd/commit/a2d40c9822148997d11d21dc31738684137f8b07
beware, it is an upgly hack that should be re-done in a proper way, but it was the quickest path.

[2018-02-22 20:44] job commented on #44
woah.. great find! :)

[2018-02-23 16:00] #44 closed

[2018-02-25 16:17] #32 closed

[2018-05-08 07:27] job opened #3 "Allow one data source to 'drown out' other data sources"
Allow one data source to 'drown out' other data source. For instance RPKI data supersedes IRR data, by using RPKI data we can combat stale IRR proxy route registrations.

Consider the following:

[code]

It would be nice if `!gAS1` would *not* return `192.0.2.0/24` because of the existence of the RPKI entry covering `192.0.2.0/24`. In operational terms the owner of prefix `192.0.2.0/24` should cre

[2018-05-08 09:29] job opened #4 "Hide mirrored & reject authoritative objects based on selection criteria"
We'll need the ability to hide objects coming in over NRTM, and reject objects slated for insertion in the authoritative database based on selection criteria such as:

* Is the prefix a covered by a list of bogon prefixes? (aka ability to ignore rfc1918 space)
* Is the origin ASN a member of the list of bogon ASNs? (ignore route objects originated by private or special ASNs such as 23456)

[2018-05-08 09:35] job opened #5 "Ability to submit objects via a HTTPS based API"

[2018-05-08 15:52] job opened #7 "Validate IRR object creation against the authoritative RIR database"
APNIC expressed interest to jointly develop an authentication mechanism to facilitate route-object creation and still validate against the authoritative RIR database.

[2018-05-08 16:54] job opened #8 "Explore whether GraphQL is sensible for querying routing data"
Multiple people suggested that perhaps https://graphql.org/ is a good fit for this problem space. We should research whether this is a good fit to replace the `IRRd WHOIS` protocol

[2018-05-10 12:56] mxsasha opened #9 "Finish RPSL parser"
- [x] Fix a number of open TODO's
- [x] Add generation of templates
- [x] Raise test coverage
- [x] Double check that non-strict mode does check for primary key presence
- [x] Validate for: "All the set name components
   of an hierarchical name has to be of the same type.  For example, the
   following names are valid: AS1:AS-CUSTOMERS, AS1:RS-EXPORT:AS2, RS-
   EXCEPTIONS:RS-BOGUS."
- [x] Fix su

[2018-05-10 13:00] mxsasha opened #10 "Architecture design"
We should make an (initial) design of the various components and their interactions. This should, as much as reasonable, also make it simple to bolt on ideas suggested for [phase 2](https://github.com/irrdnet/irrd4/milestone/2).

Both of these designs should be part of the documentation and updated as the project progresses, as new insights will lead to changes.

[2018-05-10 13:06] mxsasha opened #11 "Database design and interface"
This task involves building a basic database design, and implementing it, probably with an ORM, probably SQLAlchemy. (The interface between the database layer and other parts of IRRD should obviously be ORM-agnostic). In design, we need to account for issues like the references between objects, and the various methods of searching by resource or lookup keys. We only need to consider PostgreSQL.

[2018-05-10 13:07] mxsasha opened #12 "Python package distribution"
This involves easily creating a nice Python package from the repo, and documenting how others can do releases.

[2018-05-10 13:08] mxsasha opened #13 "Auto-build IRRd docker images"

[2018-05-10 13:13] mxsasha opened #14 "Mirroring: initial database import"
For NRTM mirroring, load the initial copy of the database over http(s)/ftp, and load it into the database (replacing existing objects from the same source). The serial should also be retrieved and recorded.

This should be based on a basic configuration which includes the ability to filter for certain object types.

[2018-05-10 13:16] mxsasha opened #15 "Mirroring: NRTM stream client"
Building upon #14, once an initial import is successful, follow an NRTMv3 stream and process updates. Streams should be monitored for inactivity, and restarted on suspected staleness.

[2018-05-10 13:18] mxsasha opened #16 "Queries: TCP server handling"
This task covers the listening to and handling incoming connections on port 43, splitting them into individual query strings to be handled elsewhere, and sending the replies back. All handling of multiple command mode is part of this task.

[2018-05-10 13:19] mxsasha opened #17 "Queries: query parsing and resolving for basic queries."
This task covers handling an individual query in string form, parsing it, retrieving the necessary objects, and returning the answer. This task only covers basic primary key queries.

[2018-05-10 13:22] mxsasha opened #18 "Query: complex query parsing and resolving"
This expands upon #17 by implementing parsing and resolving for more complex queries.

[2018-05-10 13:40] mxsasha opened #19 "Quality assurance / v3 consistency checks"
We would like to have a process to ensure the new IRRd provides the same answers on the same datasets as the IRRDv3. Complexity is that they obviously need to have the same data at the same point in time, therefore both receive any updates made.

Previously we discussed a proxy that runs on live queries and sends them to both. This can work but has some operational challenges. A more practical alt

[2018-05-10 13:47] mxsasha opened #20 "Updates: basic processing"
This tasks involves receiving an incoming update with one or more objects, extracting any PGP signatures, validating the objects, saving the changed state.

[2018-05-10 13:49] mxsasha opened #21 "Updates: authentication, conflicts and notifications"
Expanding on #20, this task involves checking the authentication for all requested updates, any conflicts with other objects, and finding out which notifications need to be sent. As these responsibilities all likely require retrieving related objects, they're grouped together as one task. This also includes deletion of objects that are still referenced.

Currently open:
- [x] Ensure mntner checks

[2018-05-10 13:50] mxsasha opened #22 "Updates: submission via e-mail"
Provide a nice interface to deliver incoming e-mail to IRRd for further processing as built in #20.

[2018-05-10 13:51] mxsasha opened #23 "Updates: submission via TCP socket"
Provide a TCP interface to IRRd for submitting updates, with further processing as built in #20. This has some overlap with #16.

[2018-05-15 13:10] #9 closed, assigned to mxsasha

[2018-06-19 15:25] #11 closed, assigned to mxsasha

[2018-06-25 14:35] #12 closed, assigned to mxsasha

[2018-07-06 10:42] #16 closed, assigned to mxsasha

[2018-07-06 10:42] #17 closed, assigned to mxsasha

[2018-07-06 10:42] #18 closed, assigned to mxsasha

[2018-07-31 14:49] #20 closed, assigned to mxsasha

[2018-08-02 14:29] #22 closed, assigned to mxsasha

[2018-08-06 12:26] #23 closed, assigned to job

[2018-08-22 10:45] #14 closed, assigned to mxsasha

[2018-08-22 10:45] #15 closed, assigned to mxsasha

[2018-09-26 13:42] #10 closed, assigned to mxsasha

[2018-11-16 15:19] #21 closed, assigned to mxsasha

[2018-12-04 14:03] #19 closed, assigned to mxsasha

[2019-01-08 10:48] #13 closed, assigned to mxsasha

[2019-02-07 18:44] #3 closed, assigned to nobody

[2020-07-20 17:34] #4 closed, assigned to mxsasha

[2020-08-26 20:41] randyqx opened #53 "make can not find aclocal-1.15"
after `make clean` and `./configure`

[code]

[2020-09-15 15:52] haussli commented on #53
This is precisely why I agrue against having users run autoconf.  It
leads to more support work.  All the autoconf should be included in the
repo & dist.

[2020-09-15 16:17] job commented on #53
@haussli we don't know what version or git checkout the user tried this on. Afaik we include autoconf in the dist...  (but it has been a while since we released an irrd 3 version, most effort went to irrd v4)

[2020-09-15 16:25] haussli commented on #53
I do not understand the connection.  whatever version they checkout is the
version of the autoconf scripts they receive - the scripts, not the result
of the scripts.

[2020-09-15 16:29] haussli commented on #53
because of the version?  I know this seems to have become common practice,
but I say stop doing that, its stupid.  the support cost savings is far
greater than the git version being in the autoconf scripts - and it is
irrrelevant.  put the git version in a separate include created by make,
if you must have it in executables - the installed stuff.

[2020-09-16 14:29] mxsasha opened #399 "Explore compatibility and performance with PyPy"
PyPy is sufficiently up to date to be theoretically able to run IRRd. It may offer performance improvements, but it may also have compatibility issues. We should try this.

[2020-09-17 03:28] job opened #55 "Figure out version numbers"
As a result of https://github.com/irrdnet/irrd-legacy/commit/f4f67eee2800ae863f77d042a553908904cea41b the process to single-source version numbers throughout a release needs to be fixed.

[2020-09-17 22:28] job commented on #55
@haussli i want to follow-up on versions here (ref: https://github.com/irrdnet/irrd-legacy/pull/54#issuecomment-694520683)

I think a simple ‘major.minor’ version approach like has been done all this time is easiest for users

[2020-11-03 07:41] job opened #408 "Force new AS-SETs to be structured hierarchically"
There are two naming variants possible when creating `AS-SET` objects: flat (example: `AS-SNIJDERS`) or hierarchical (example: `AS15562:AS-SNIJDERS`).

A next version of IRRd would probably benefit from encouraging users to create `AS-SET` objects following the hierarchical convention, this can be achieved by rejecting *new* `AS-SET` objects that do not follow the hierarchical convention.

The sub

[2020-11-03 07:42] job commented on #408
Benefits of hierarchical naming: helps avoid naming collisions, and also helps identify which BGP network the `AS-SET` object relates to

[2020-11-03 14:09] mxsasha commented on #408
Seems reasonable. So the effective requirement would be: each newly created as-set in an authoritative database, should start with "ASxxxx:"?

[2020-11-03 14:11] job commented on #408
Yes

[2020-11-03 15:57] job opened #410 "Consider adding "Legacy WHOISoHTTPS" query API"
I asked around for feedback on GraphQL as the new query language, and an interesting suggestion came up in talks with Jared Mauch.

There is a group of people who are perfectly happy with the 'simple port 43' query language (`!a`, `!g`, etc), but who would definitely benefit from the ability to wrap the commands send with `netcat` into a `curl` equivalent with minimal effort.

Perhaps we can consi

[2020-11-03 16:11] mahtin commented on #410
The idea of layering the protocol support and then focus solely on GraphQL as the primary interface is a solid idea.

If the whois-to-GraphQL module is written as a fully standalone project (as it could be), then it could be used for others purposes.

Another plus could be that as whois is deprecated (one can only hope!) that the core software isn't encumbered with cruddy old port-43 logic.

PS: R

[2020-11-04 16:24] mxsasha commented on #410
We can do that. It's not ideal from the perspective of wanting to get people to use the newest and shiniest API, but it will help to get people away from plain-text unauthenticated whois queries.

There is a catch when supporting only a single query in a single HTTP request though: the latency is higher. It's not just the TCP connection setup, but also SSL and HTTP request handling. A possibility

[2020-11-10 12:37] mxsasha opened #412 "Clean up updates parser tests"
The current tests in updates/tests/test_parser.py have one test for the change request processing and all the validators. This was not a bad idea at the time, but validators have become a lot more complex since, and the tests have become a bit of a mess. Everything to do with validator testing should be split out.

Important to keep in mind is that we keep sufficient integration test cover. Probab

[2020-11-10 17:03] fischerdouglas opened #414 "IRR-Maint-tool to facilitate pushes to any IRR - Derived from IRRd"
For an ITP, Keep IRR Objects correctly Up to date is a pain!
Even the basic as AS-Sets could be a challenge if you want to keep updated all you cone correctly.

I have been looking for a tool that can help with this task for a long time.
And the best I found was some Jinja2 Templates e-mail to IRR.
But that does not cover any type of checking beyond the RPSL syntax, and even those do not cover all

[2020-11-10 17:18] fischerdouglas commented on #414
Obs.:
After I knew IRRdv4(2 days ago), my first idea was a little more selfist.
- Create an internal IRR
- Insert the objects I need there(maybe using some triggers from PeeringManager)
- Use the Mirroring export feature to get the data already parsed, formated, checked.
- Send it to RADB and other IRRs...

Probably it would work but would be as pretty as my face...
So, by now I'm discarding this

[2020-11-10 19:45] #408 closed, assigned to mxsasha

[2020-11-16 11:53] job opened #416 "AttributeError: '_io.BufferedReader' object has no attribute 'status'"
empty database, version a6af0f7ff71a135ad991d7c3204b70025d1486ce

[code]

[2020-11-16 11:55] mxsasha commented on #416
This was almost certainly introduced by #409, will look into it.

[2020-11-16 13:22] mxsasha commented on #414
The RPSL parser in IRRd is pretty decent and is fairly self-contained. However, note that it doesn't do anything with the content of (mp-)import/export attributes, so it's not a full RPSL policy implementation.

More importantly, it only parses objects, and knows what objects look like. It doesn't currently have a generator for objects. But, a currently ongoing project is to explore a better way f

[2020-11-16 18:05] fischerdouglas commented on #414
One of the possibilities that were considered between some friends for a while would be something that could be called:

A IRR API-to-RPSL-Mail Middleware.

Something that would do the needed parsing, render the RPSL, and push it to the respective IRR by e-mail.

Yep! I now! This does not fit with the basic concepts of a Deamon for IRR.

But I'm sure that making cost less and easier to ASN admins

[2020-11-17 02:20] renatoalmeidaoliveira opened #418 "Extend irrd/server/http/server.py to allow object creation by HTTP POST request"
**Is your feature request related to a problem? Please describe.**

An HTTP API might simplify object creating and allow a simpler implementation of a pretty frontend like RADB.

**Describe the solution you'd like**

It could be done by the implementation of the do_POST method, that calls  ChangeSubmissionHandler(data) with some data lint.

[2020-11-19 15:57] mxsasha commented on #418
An API for object creation is already planned for a current development project. Do you have a particular type of interface or particular features in mind that would help this work well for you?

(It will probably not end up in the place you suggest, as the HTTP handling will probably change further in #398)

[2020-11-19 16:19] #416 closed, assigned to nobody

[2020-11-19 16:22] mxsasha commented on #414
I don't think the existing IRRd code can help a lot with this, and it's not within scope of IRRd itself. It also this may require customisation for different IRRs: not everyone has support for the same fields.

[2020-11-21 23:02] renatoalmeidaoliveira commented on #418
At the current versions the object creation is done by file input (submit_changes.py) , or email (submit_email) an API for object manipulation ( creation, changes and exclusion) would be a great start, in the current version it could be done by interfacing ChangeSubmissionHandler() but the object submit resport returns an string for terminal printing, it would be nice some dict, and later implemen

[2020-11-23 01:17] forkwhilefork commented on #410
Just to add a data point - I have never used GraphQL, and I would prefer to make a simple HTTP call (i.e. your second bullet) than to learn/use GraphQL.

[2020-11-25 10:39] mxsasha opened #421 "Improve CSS for docs slightly"
The docs look much nicer if we remove the #EEE background on `pre` elements. As discovered accidentally on a poor monitor. Should be fairly easy to add a bit of custom CSS.

[2020-11-26 12:59] mxsasha opened #422 "Preload as-set members and optionally support expansion limits"
Resolving the members of a set, especially as-set, is a very common operation. The amount of data is not huge, but it is a somewhat expensive process with quite a few database round trips, worse when mbrs-by-ref is used. It's also a very common query.

To improve this, preloading will be extended to as-set members. This would only be the direct members, not recursive, as recursive resolving is sou

[2020-11-26 14:11] #8 closed, assigned to mxsasha

[2020-11-26 14:11] mxsasha opened #423 "Update ariadne dependency"
With #398 IRRd has ariadne's master branch as a dependency, because the 0.12 release is too old. Once 0.13 is released, the dependencies should point to that instead.

[2020-11-27 08:57] mxsasha commented on #399
This requires more research, but is promising. IRRd seems to run well under PyPy after d2fdc8eb9a3cbcb4bea3cb4bb815cf2122a20d3c, with psycopg2cffi. Tests run slower, but large GraphQL queries seem to speed up by 2x. Smaller queries may be slower. More testing needed.

[2020-11-27 12:00] mxsasha commented on #399
Some measurements on a particular server:

On whois:
* 200x `!gAS2914` is 30/31 seconds on either
* 15x `!aAS2914:AS-GLOBAL` is 170s on CPython, 155s on PyPy
* `!a` on a sample of 100 varied size AS sets: 50s on CPython, 47s on PyPy
* `!a` on a sample of 1130 varied size AS sets: 5m30s on CPython, 4m31s on PyPy

On GraphQL, without nginx proxy:
* 500x all RPSL objects maintained by me and their mn

[2020-11-27 12:02] #414 closed, assigned to nobody

[2020-11-28 19:02] mxsasha opened #424 "Make RPKI max-length available in DB and GraphQL query"
The RPKI importer currently only saves the max-length in the pseudo-IRR object, in an attribute. For easier query support, it should also add it to parsed_data, to allow it to be included in the GraphQL interface, which should also be extended for this.

[2020-11-28 19:31] mxsasha opened #425 "GraphQL queries are likely not filtering auth hashes"
GraphQL queries should do auth hash filtering on both objectText and the auth attributes - they likely are not doing that now.

[2020-11-28 19:32] mxsasha opened #426 "Prevent unnecesary auth hash filtering in WhoisQueryResponse"
WhoisQueryResponse runs the auth hash filter on all outputs, but this is only needed when auth hashes may be returned, i.e. not for `!a`. This has a performance impact of around 10%.

[2020-11-29 11:16] forkwhilefork opened #427 "Delete route/route6 objects that are RPKI invalid"
In #3, @job mentions this:

#3 was closed in favor of #197, which doesn't appear to include the functionality described above. I'd still like to see that.

[2020-11-29 12:11] mxsasha commented on #427
This was not mentioned in #197, but was implemented - see https://irrd.readthedocs.io/en/stable/admins/rpki.html

Technically, they're not deletions, they are marked as RPKI invalid and therefore not visible in query output. This because the RPKI state might change again later, in which case we need to "restore" the object again, done by marking it as RPKI valid/not_found. As objects change betwee

[2020-11-29 22:05] forkwhilefork commented on #427
An object being RPKI invalid is an indicator that it may be stale and therefore should be removed or "cleaned-up", which is why I was interested in actual deletion. I think it probably doesn't make sense to delete by default, but it would be nice if there were at least some way to query for all the route/route6 objects that are currently invalid. Then further analysis and possibly deletion could b

[2020-11-30 15:42] mxsasha commented on #427
Yes, you can query it in the GraphQL interface:
[code]
It's about 220.000 RPSL objects on my testing instance, so it's not a very fast query.

The whois interface does not have support for this.

[2020-11-30 15:53] #425 closed, assigned to mxsasha

[2020-11-30 16:07] #426 closed, assigned to mxsasha

[2020-11-30 16:12] mxsasha opened #428 "Python 3.9 compatibility"
Our current versions if dotteddict and IPy will not work in Python 3.9:
[code]

[2020-12-01 04:13] forkwhilefork commented on #427
Okay, this works. I will wait for the next release. Thanks!

[2020-12-01 04:13] #427 closed, assigned to nobody

[2020-12-01 19:02] #421 closed, assigned to mxsasha

[2020-12-01 19:32] #424 closed, assigned to mxsasha

[2020-12-01 19:33] #399 closed, assigned to mxsasha

[2020-12-01 20:44] #428 closed, assigned to nobody

[2020-12-02 12:51] mxsasha opened #436 "Ensure HTTP endpoints are async"
The heavier HTTP endpoints are currently all synchronous, which blocks the entire Uvicorn worker. While not a huge issue now, it's not a proper setup. The endpoints and resolvers should probably be wrapped in asgiref's `sync_to_async`, which is meant exactly for this case. Care should be taken that QueryResolver objects are not shared between threads, but we're probably already fine.

Long term, i

[2020-12-02 13:16] mxsasha opened #437 "Text search may be broken"
Free text searches in whois don't seem to return any results, this looks like a bug. Unclear when this was introduced, needs checking whether it also affects 4.1.

[2020-12-02 14:29] mxsasha opened #438 "Write a short GraphQL quickstart"
The GraphQL docs are pretty extensive, but may be intimidating to people new to GraphQL. There should be a short quickstart guide that shows how to use it and what it can offer, with a separate more detailed reference.

[2020-12-02 14:36] #410 closed, assigned to mxsasha

[2020-12-02 14:43] mxsasha commented on #410
See https://irrd.readthedocs.io/en/latest/users/queries/index.html and https://irrd.readthedocs.io/en/latest/users/queries/whois.html

[2020-12-02 14:45] mxsasha opened #439 "Review new docs before 4.2 release"
4.2 has quite a bit of new documentation, written at the time of building the new features. It should be looked over another time before releasing 4.2

[2020-12-02 17:42] mxsasha commented on #437
This is fine, looked broken because the dataset I tested on was quite small.

[2020-12-02 17:42] #437 closed, assigned to mxsasha

[2020-12-02 17:44] mxsasha opened #440 "Logging for HTTPS whois queries"
Whois queries over HTTPS are not being logged well - this should be added.

[2020-12-02 19:00] mxsasha commented on #436
Actually making the GraphQL queries proper async, instead of sync_to_async, may provide a 25-35% speed benefit, so it's worth exploring this more.

[2020-12-03 03:45] forkwhilefork opened #441 "Not able to access HTTP status page"
After upgrading from 4.1.0 to the latest git master (784fc44f965f050ef49b70985452d52fea3ba140), I am no longer able to access the HTTP status page at /v1/status. I see this entry in the log:
[code]
(23.147.64.72 is where I am trying to access it from.)

My config file has this section, which has not changed since upgrading:
[code]

I checked the "latest" docs and don't see anything that needs to b

[2020-12-03 14:40] mxsasha commented on #441
This was renamed to `status_access_list` - to distinguish that it's specific to the status page. It is in the docs, but not really obvious, it will be clearly noted in the 4.2 release notes. (#386 would also have caught this)

[2020-12-03 14:58] #436 closed, assigned to nobody

[2020-12-03 15:49] #440 closed, assigned to mxsasha

[2020-12-03 19:06] forkwhilefork commented on #441
Ah! Makes sense. That worked for me, thanks!

[2020-12-03 19:06] #441 closed, assigned to nobody

[2020-12-04 08:24] job opened #444 "Route object not being returned via !g?"
this object exists
[code]

it for some reason doesn't appear to be returned when a `!g` command is sent:

[code]

**IRRd version you are running**
4.0.8

[2020-12-04 09:03] job commented on #444
seems a process restart unscrewed the internal preloaded state, but since this is pre-4.1 probably not worth debugging further

[2020-12-04 09:03] #444 closed, assigned to nobody

[2020-12-08 10:17] mxsasha opened #446 "Investigate database locking by RPKI importer"
The RPKI importer may be locking the database for a while, requiring other changes to wait. This shouldn't happen, because it should not be making explicit locks and does not affect the same rows as any other operation. It's also possible something entirely different is happening. Needs investigation.

[2020-12-08 19:07] #418 closed, assigned to nobody

[2020-12-08 19:11] mxsasha commented on #418
This is now implemented: https://irrd.readthedocs.io/en/latest/users/database-changes.html

The very basic modules were really only intended for the simple status page. The current HTTP implementation uses Starlette as an ASGI web framework, on top of a uvicorn ASGI server. This choice fits particularly well with Ariadne, the GraphQL framework, but also supports other HTTP services well. I did loo

[2020-12-10 13:56] job commented on #446
does this affect 4.1?

[2020-12-10 14:26] mxsasha commented on #446
Yes. Between the "Running full ROA import from" and "ROA import from ... imported ..." lines, all other changes are suspended, but resumed later. The window is about 6 minutes on my mac.

We can make a 4.1.1 release with this fix?

[2020-12-10 14:30] mxsasha commented on #5
This was added in d1189cbd767d815af3007ee7358b29542c0a06da: https://irrd.readthedocs.io/en/latest/users/database-changes/

[2020-12-10 14:30] #5 closed, assigned to nobody

[2020-12-10 14:53] job commented on #446
A 4.1.1 would be good indeed

[2020-12-10 14:59] #438 closed, assigned to mxsasha

[2020-12-10 21:06] mxsasha commented on #446
4.1.1 released

[2020-12-10 21:06] #446 closed, assigned to mxsasha

[2020-12-16 15:45] troy2914 opened #451 "4.1+ systemd.service needs to be updated in admin/deployment docs."
irrd.service was not specifying Requires or After `redis-server.service` or `postgresql@11-main.service`
With a large db,  and random systemd timing, we see
[code]
followed by about 30 [irrd-whois-serv] <defunct> processes.
This in general should be handled better.   Either fail to start,  or start only returning an error.

the service file update is adding a Requires= and appending to the After=

[2021-01-24 02:42] ma-anazawa opened #458 "How to delete source data from PostgreSQL database"
Hi,

When I delete LEVEL3 from sources in the irrd.yaml file, LEVEL3 is not deleted from the PostgreSQL database.
Please tell me how to delete LEVEL3 on the PostgreSQL database as well.

IRRD version 4.1.0

Thanks for your great work!

[2021-01-25 22:50] ccaputo opened #460 "deployment example with setcap does not work due to virtualenv symbolic links"
**Describe the bug**

I'm finding that:

https://github.com/irrdnet/irrd/blob/05dde61726883bf3eb6d41432dc66b77b01702b2/docs/admins/deployment.rst#L287-L288

is not possible since in a virtualenv the python3 will be a symbolic link, and setcap does not work on symbolic links.

I am concerned that running setcap on the actual python3 binary would be a security risk since any python code could then t

[2021-01-29 12:45] troy2914 opened #461 "invalid IRR object flagged as notfound"
in 4.1.1
RPKI object in RIPE  - RPKI enabled
object in JPIRR - RPKI enabled object is invalid
object in RADB - RPKI disabled

result is  it shows all 3 objects.   Expected it would not show the JPIRR invalid object.
Note this JPIRR object may be cleaned up soon.
whois -h irrd01-beta.ip.gin.ntt.net 192.47.117.0/24
[code]

The database on this host also did not flag that prefix as invalid from any s

[2021-01-29 13:37] troy2914 commented on #461
hmm,  this does not seem stable....   Looking at the db i see:
[code]
do whois,  only shows the 1 valid RPKI route (despite RADB being set for
[code]

did a
[code]
that prefix does not show up.
a few minutes later
[code]
and the whois shows all 3 objects again.

[2021-01-29 17:34] troy2914 commented on #461
starting running this every 2 minutes:
[code]
times in utc,  115 is broken, 111 is good, here are when the states changed (was broken originally):
-rw-r--r-- 1 irrd irrd 111 Jan 29 16:36 status.20210129-163601
-rw-r--r-- 1 irrd irrd 115 Jan 29 16:34 status.20210129-163401
and
-rw-r--r-- 1 irrd irrd 115 Jan 29 17:32 status.20210129-173201
-rw-r--r-- 1 irrd irrd 111 Jan 29 17:30 status.20210129-1730

[2021-01-29 19:15] troy2914 commented on #461
and flipped back to good around 18:35
-rw-r--r-- 1 irrd irrd 111 Jan 29 18:36 status.20210129-183601
-rw-r--r-- 1 irrd irrd 115 Jan 29 18:34 status.20210129-183401

I am sensing a theme here...

[2021-01-29 19:35] troy2914 commented on #461
-rw-r--r-- 1 irrd irrd 115 Jan 29 19:32 status.20210129-193201
-rw-r--r-- 1 irrd irrd 111 Jan 29 19:30 status.20210129-193001

[2021-01-29 20:44] troy2914 commented on #461
btw, seems to be about a 6362 prefix difference between the good and bad states (# of invalid's reported).

[2021-02-01 12:57] mxsasha commented on #461
This is rather puzzling, but does look like a bug. The hourly cycle suggests that at least one part of this is related to the periodic RPKI importer. But I'm not really sure what would make it flip back shortly after.

Could you share the logs? Particularly what happened between known good and bad times and vice versa (with a margin of a few minutes before and after). That should tell us what proc

[2021-02-01 13:25] troy2914 commented on #461
the 2 minutes is the frequency of my check.  So the most recent flip was 2021-02-01 12:36 and 12:38, here are the irrd server.log covering those 2 and 2 minutes before 12:36:
[code]

-rw-r--r-- 1 irrd irrd 115 2021-02-01 12:38:01.505208099 +0000 status.20210201-123801
-rw-r--r-- 1 irrd irrd 111 2021-02-01 12:36:01.437475501 +0000 status.20210201-123601

from the hour earlier:
[code]

where the que

[2021-02-01 16:14] troy2914 commented on #461
and question about what I am seeing in roa_objects,  all the rows show the same created date.  A recent date at that.
[code]
this was during the good state hour.  Interesting that datestamp does not like up with the switch from bad to good.

[code]

ah, but at that time in the log there was a:
[code]

[2021-02-01 16:28] troy2914 commented on #461
more RPKI oddness:
[code]
yet, roa_object shows a
[code]

and whois shows:
[code]

now RADB (along with NTTCOM and an internal db) has rpki_excluded enabled,  but I would have expected the JPIRR object to be suppressed.

[2021-02-03 22:52] mxsasha commented on #461
I'm still digging into this, but it seems to be an issue in the rpki_excluded setting - on my test instance I enabled it on RADB, and right after that the RADB and JPIRR object became not_found.

[2021-02-04 15:04] troy2914 commented on #461
is your test instance also show the flipping between not_found and invalid on a roughly hour basis?

[2021-02-04 16:09] mxsasha commented on #461
Yes, and I found the bug: https://github.com/irrdnet/irrd/blob/master/irrd/storage/database_handler.py#L260-L271

If a route object with identical route and origin exists in multiple sources, and is invalid, and some but not all sources that have the identical object are RPKI excluded, these objects will flip between not_found and invalid on every RPKI import run (every hour by default). This migh

[2021-02-08 06:30] #458 closed, assigned to nobody

[2021-02-10 11:26] #461 closed, assigned to mxsasha

[2021-02-10 11:28] mxsasha commented on #461
Fix confirmed on my test instance, will release a new 4.1 today.

[2021-02-10 12:33] mxsasha commented on #461
4.1.2 released with the fix 🚀

[2021-02-10 16:58] troy2914 opened #465 "more rpki brokenness longer objects vs shorter RPKI."
seen with 4.1.2
looking up 210.130.209.0/24
[code]

give the RPKI object of /16 with a max-length of 16,  why are those /24's not invalid?

the cloudfare rpki validator says the /24s should be invalid (and I agree):
https://rpki.cloudflare.com/?view=validator&validateRoute=32787_210.130.209.0%2F24

[2021-02-11 21:38] troy2914 commented on #465
Hmm,  these seem to have cleaned up at some point, multiple hours later.
[code]

[2021-02-11 21:42] troy2914 commented on #465
note the upgrade to 4.1.2 was at 14:20,  and this was opened around 21:30

[2021-02-11 21:44] mxsasha commented on #465
That is intriguing. I will look into it :)

[2021-02-11 23:28] troy2914 commented on #465
and i first noticed it at 16:30

[2021-02-12 11:23] mxsasha commented on #465
At this point I'm thinking that this is was a hangover from #461. It was fixed without action, and I can't reproduce it here. And this is precisely the issue from #461, given that you said at that time that RADB had rpki_excluded set:

- 210.130.0.0/16 / AS2497 exists in two sources, you said one (RADB) had rpki_excluded set. The correct states would therefore be JPIRR valid, RADB not_found, but t

[2021-02-12 12:39] mxsasha commented on #458
This is intentional, because we wouldn't want a misconfiguration to lead to unrecoverable data loss. I'm not sure whether this is common enough to introduce a command for, but you can delete it manually with a few PostgreSQL queries:
[code]

[2021-02-12 12:41] mxsasha commented on #460
I see your point, it's not a pretty setup. In 4.2 the recommendation (and default) is to bind the HTTP interface on a non-privileged port and use a frontend like nginx, so that part is taken care of.

Currently the only alternative for port 43 is indeed IPtables, but I will look into options to bind the port before dropping privileges, I think it would be a nice improvement.

[2021-02-12 12:44] mxsasha commented on #423
This is still blocked, see https://github.com/mirumee/ariadne/issues/345 and https://github.com/mirumee/ariadne/issues/319#issuecomment-769269946

[2021-02-12 23:54] troy2914 commented on #465
actually when i upgraded to 4.1.2 I pulled in change where RADB was not rpki_excluded.

[2021-02-12 23:55] troy2914 commented on #465
as you noticed there are two bugs with the original query,  showing the 2 as not_found when they matched the RPKI they should have been valid.   And the 2 /24's making it thru.

[2021-02-12 23:59] troy2914 commented on #465
also I had queried for invalid's at 16:21 on the 10th,  so about 2 hours after the upgrade.
with
[code]

That resulted in 48,786 objects.   doing that query now results in 203,704 objects.

[2021-02-13 00:00] troy2914 commented on #465
are there anything in the server.log when it re-authenticates objects?

[2021-02-13 00:06] troy2914 commented on #465
[code]

NTTCOM does have rpki_excluded in the irrd.yaml.

where those filenames are based on
[code]

[2021-02-13 00:08] troy2914 commented on #465
complete list of changes:
[code]

[2021-02-15 11:55] mxsasha commented on #465
Yes, but that is exactly the kind of bug that #461 would trigger in one of it's states: incorrectly marking objects as not_found. Which is why it seems odd that another overlapping bug would occur at the same time. But not impossible.

The log messages are:
1. Running full ROA import from: {roa_source}, SLURM {slurm_source}
2. ROA import from {roa_source}, SLURM {slurm_source}, imported {len(roa_i

[2021-02-20 05:30] troy2914 commented on #465
interesting,  I was just looking at the server.log's that I saved:
2021-02-10 14:22:26,789 irrd[90730]: [irrd.mirroring.mirror_runners_import#INFO] Running full ROA import from: https://rpki.gin.ntt.net/api/export.json, SLURM file:///etc/rpki-slurm.json
(last log in this file is 2021-02-11 00:00:04,094)
2021-02-11 09:05:49,213 irrd[125574]: [irrd.mirroring.mirror_runners_import#INFO] Running full

[2021-02-20 08:06] troy2914 commented on #465
i just went back to 4.0.8 to redo the upgrade.
pre-starting up (but post db upgrade):
pre-start condition (that had a RPKI manual source):
[code]

start up at Sat 2021-02-20 07:38:18 UTC
1st
2021-02-20 07:38:19,332 irrd[55416]: [irrd.mirroring.mirror_runners_import#INFO] Running full ROA import from: https://rpki.gin.ntt.net/api/export.json, SLURM file:///etc/rpki-slurm.json
1 second after startup

[2021-02-20 08:45] troy2914 commented on #465
sigh,
[code]

[2021-02-20 19:09] troy2914 commented on #465
seems the following ROA import's where succesful:
[code]

irrd 4.1.2 started at Sat 2021-02-20 07:38:18 UTC
The `whois -h localhost 210.130.209.0/24` started responding at ~09:45 with RPKI valid, others being not_found
then at about ~11:33 only 3 valid /16 started being returned.

I am curious why that whois was timing out between 07:38 and 09:45,  and if there are any log messages when the valida

[2021-02-20 20:12] mxsasha commented on #465
I am having a bit of trouble reading what the current open concerns are. Both on your test instance and mine, I currently see the following objects for 210.130.209.0/24, **if I disable the RPKI filter for the query** (`!fno-rpki-filter`):

[code]

So the current state is entirely correct - or at least, consistent with the translated ROA in the RPKI source. I'm not entirely following what the remai

[2021-02-20 21:58] troy2914 commented on #465
4. explains why I saw the RPKI source go away.   Though that would imply that action was _not_ done in the transaction that was opened at 2.  That seems like a bug?
or the failed update at
[code]
resulted in the transaction with the removal of the RPKI to be commited,  which again sounds like a bug?

and, i see the RPKI status end message at:
[code]
Which explains why at the 11:33 query (run every

[2021-02-21 15:44] mxsasha commented on #465
I see it changed the status for 1 million objects, so it makes sense that it can take a while. That is a very exceptional case as well.

As far as I understand there are now two open concerns:
* Transaction management in the RPKI importer may not work correctly, as the rpsl_objects table did not contain any objects with source RPKI at a point in time.
* Whois queries may be blocked during some par

[2021-02-21 18:54] troy2914 commented on #465
for step 2 the downgrade to 4.0.8 that also included
a. reverting the service file
b. reverting the yaml config file
c. loading a pg_dumpall from another host
d. pip install irrd==4.0.8
e. systemctl start irrd

then I ran puppet, which installed irrd==4.1.2,  started a irrd_database_upgrade that failed
due it to taking so long.
re-ran irrd_database_upgrade (which took about 45 minutes)
during that

[2021-02-21 20:23] troy2914 commented on #465
interesting i just repeated stopping irrd 4.1.2
loading a pg_dumpall from another host (4.0.8 db)
and running the irrd_database_upgrade
starting irrd 4.1.2  time Sun 2021-02-21 20:15:28 UTC
and the first ROA message at:
[code]
but now the whois is working from the start, so that's good.   err no.
[code]
the 1st query after start worked, but now they are timing out.
seems to be back to working at F

[2021-02-22 16:45] mxsasha opened #469 "GraphQL returns "null" asn for AS0"
RPKI objects may have zero as their ASN. The GraphQL API returns this as `null` which is incorrect. Might be an issue in the DB - though the object text is correct.

[2021-02-23 15:24] mxsasha commented on #465
I ran some very thorough testing on this, and kept a close eye on the database status, locks, queries and whois output. This is a very long comment, also for my own notes, conclusions at the end.

On a test machine, I made a fresh install of 4.0.8 with a fresh database. I had it import all the usual sources, and let it run for a while. I see the following objects in whois:
[code]

Which matches wh

[2021-02-23 18:41] troy2914 commented on #465
Ok, well I'm not sure what the default timeout on my debian 10.3 whois client is.   I guess everything is resolved.
Closing this issue.

[2021-02-23 18:41] #465 closed, assigned to nobody

[2021-03-15 22:39] rafalp commented on #423
Hiya! Apologies for this, I'll try to find time to push out 0.13 with the fix this or next week. :)

[2021-03-27 16:01] mxsasha opened #475 "Compatibility with SQLAlchemy 1.4"
We are currently not compatible with SQLAlchemy 1.4, and therefore pinned to 1.3.x. This isn't an immediate issue, but should be addressed. [Here's a CI run](https://app.circleci.com/pipelines/github/irrdnet/irrd/1158/workflows/725e2251-5794-4748-a37b-0d8a92d84034) with 1.4.

[2021-03-30 14:30] #423 closed, assigned to mxsasha

[2021-04-04 10:05] #469 closed, assigned to mxsasha

[2021-04-05 14:44] mxsasha opened #481 "Prevent potential loss of log output"
IRRd's docs say:

This seems like something IRRd should detect and reject. Losing log output is not acceptable. Probably we did this to support logging into the foreground, so there should be a check on that.

[2021-04-06 10:04] #460 closed, assigned to mxsasha

[2021-04-06 10:06] mxsasha commented on #460
@ccaputo I think https://github.com/irrdnet/irrd/blob/main/docs/admins/deployment.rst#starting-irrd solves this - IRRd can now be started as root, bind to port 43 and then drop root privileges.

[2021-04-06 14:15] #481 closed, assigned to mxsasha

[2021-04-06 14:35] mxsasha commented on #451
I think this is resolved

[2021-04-06 14:35] #451 closed, assigned to mxsasha

[2021-04-06 18:36] ccaputo commented on #460
Nice work!  Will try when 4.2 is out.  Thx.

[2021-04-07 10:15] #439 closed, assigned to mxsasha

[2021-04-09 03:19] talent-nansy opened #485 "rpsl parser usage questions"
I'm having a problem using rpsl parser.
I created a new python file and import '_test_rpsl_objects_' .

[code]

However, I keep get Error Information that 'ImportError: attempted relative import with no known parent package' .
![image](https://user-images.githubusercontent.com/16119436/114123322-a91c2b00-9924-11eb-82f0-f3dafec7fdae.png)

I would appreciate that you can show me a way to use these p

[2021-04-09 07:25] mxsasha commented on #485
It seems like you're trying to use the parser tests, rathre than the actual parser itself. Here's an example of parsing a sample object from a Python script outside irrd:

[code]

I should add that the RPSL parser in IRRd was designed to be decoupled from other parts, so it should be possible to use the parser independently. But this is not an actively supported or documented use of irrd, and API

[2021-04-09 07:41] talent-nansy commented on #485
Thanks a lot for your help. It worked for me. :)
I will pay attention to the API changes between different versions, thanks again.

[2021-04-09 07:41] #485 closed, assigned to nobody

[2021-04-09 18:32] fischerdouglas commented on #485
I seem a good tool to be used in conjunction with Netbox, to generate and parse before-send, IRR Objects based on Netbox database to the IRR database of choice.

[2021-04-14 12:56] mxsasha opened #487 "Temporary files not cleaned up if IRRd import fails"
It looks like IRRd may not be cleaning up temporary files if an IRR import fails. These files can be quite large, so this isn't nice, and probably not too hard to fix for the most common failure scenarios.

[2021-04-14 12:58] mxsasha opened #488 "Clarify documentation on CPython vs PyPy"
The deployment docs and 4.2 release notes should be clearer on choosing between CPython and PyPy. While PyPy has some performance benefits, it can also be much harder to deploy in some setups. The current documentation can be improved a bit in helping users make that choice.

[2021-04-15 01:51] rubenskuhl commented on #488
Moving to CPython indeed made some packages that refused to build, to start building. But even so, irrd 4.2.0b1 doesn't build until wheel is added to the virtual environment.
Sequence that worked:
 python3 -m venv /home/irrd/irrd-venv
/home/irrd/irrd-venv/bin/pip3 install wheel
/home/irrd/irrd-venv/bin/pip3 install /home/irrd/irrd-4.2.0b1 (where the path is the location of the download)

[2021-04-15 13:55] mxsasha commented on #488
This sounds like a separate problem, or problems, but still a bug. I can reproduce the error `error: invalid command 'bdist_wheel'` during pip install on the tgz, although the package still seems to install after that. I will add wheel to the dependencies to fix this.

I am confused on whether you have any other issues on either CPython or PyPy. If you do, could you tell me:
- What were the errors

[2021-04-15 14:05] rubenskuhl commented on #488
Errors:
``/home/irrd/irrd-venv/bin/pip3 install /home/irrd/irrd-4.2.0b1
(everything that worked omitted here)
Building wheels for collected packages: irrd, IPy, ordered-set
Building wheel for irrd (setup.py) ... error
ERROR: Command errored out with exit status 1:
command: /home/irrd/irrd-venv/bin/python3 -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-req-build-w8uu16y7/setup

[2021-04-15 14:08] rubenskuhl commented on #488
The issues above were with CPython. PyPy failed sooner on PyYAML and I was unable to work around it.

[2021-04-15 16:35] rubenskuhl opened #489 "systemd erases /var/run and doesn't recreate it"
**Describe the bug**
irrd requires a /var/run (or /run) directory to store PID. It's erased each time by systemd.

**To Reproduce**
Reboot

**Expected behaviour**
Automatic recreation

**IRRd version you are running**
E.g. 4.2.0b1

**Additional context**
It can be solved by adding, in the Service section,
RuntimeDirectory=irrd
in the systemd configuration instructions (https://irrd.readthedocs.io/

[2021-04-15 17:45] mxsasha commented on #488
I will fix the CPython issue, but without more details I can't reproduce your PyPy install issue.

[2021-04-16 00:58] rubenskuhl commented on #488
Collecting IPy==1.01
  Using cached IPy-1.01.tar.gz (33 kB)
Collecting PyYAML==5.4.1
  Using cached PyYAML-5.4.1.tar.gz (175 kB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... error
  ERROR: Command errored out with exit status 1:
   command: /home/irrd/irrd-test-venv/bin/pypy3-c /home/irrd/irrd-test-venv/share/python-wheels/pep517-0.8.2-py2.py3-none-any.whl/pep

[2021-04-16 09:23] mxsasha commented on #488
This is a challenging one - [this pip issue](https://github.com/pypa/pip/issues/7946) suggests it may be an issue with your local pip install, and using `--reinstall` with your pip install may help.

[2021-04-16 09:25] mxsasha commented on #489
The current example of systemd suggests putting the pidfile in `/home/irrd/` though, which already exists if someone follows the examples from the deployment guide?

[2021-04-19 15:39] rubenskuhl opened #492 "force_reload doesn't ignore serial number"
**Describe the bug**
irrd_mirror_force_reload sets a force reload flag on a mirror. But it still takes the serial number into account, so even if a configuration has changed that would change the records, the mirror is still not reloaded.

**To Reproduce**
Setup a mirror
Change a config that would make the mirror different, like adding more input files to input source.

**Expected behaviour**
Forc

[2021-04-19 16:19] mxsasha commented on #492
Did you see that it did not work, or did you conclude that from the log message? Because reading the code, it looks like it should work, but the log message is definitely confusing.

What that log actually means is:
* the force_reload flag was successfully set for APNIC
* based on the current settings, [serial synchronisation](https://irrd.readthedocs.io/en/latest/users/mirroring/) will be disable

[2021-04-19 16:25] rubenskuhl commented on #492
After fixing the source definition, a new error message appeared:
[irrd.mirroring.mirror_runners_import#INFO] Running full RPSL import of APNIC from ['https://ftp.apnic.net/apnic/whois/apnic.db.as-block.gz', 'https://ftp.apnic.net/apnic/whois/apnic.db.as-set.gz', 'https://ftp.apnic.net/apnic/whois/apnic.db.aut-num.gz', 'https://ftp.apnic.net/apnic/whois/apnic.db.domain.gz', 'https://ftp.apnic.net/

[2021-04-19 16:55] mxsasha commented on #492
This is definitely a bug. Possibly caused by a configuration issue, but then the bug is that not being properly detected and logged.

Are there lines after that message with a traceback of where this originated?

[2021-04-19 17:02] rubenskuhl commented on #492
No, the 523019 index has only those two messages and index 523020 and so forth are of different instances. The complete SOURCE defintion is:
[code]

[2021-04-19 17:34] mxsasha commented on #492
The error is here:
[code]
import_serial_source should not be a list. It should be:
[code]
(Still a bug in the config validation code.)

[2021-04-19 22:27] rubenskuhl commented on #492
Exactly. Fixing that the source has been loaded. It was curious though that while reload is an asynchronous process, mirror_force_reload waited a long time for the reload to complete(this source has 850k objects). I don't know which behavior would be expected, but one should be chosen and an option to reverse it (exit asynchronously or wait synchronously) could be provided.

[2021-04-20 22:39] rubenskuhl opened #494 "Can't NRTM mirror RIPE database, even though they support it"
**Describe the bug**
Configuring NRTM hosts on RIPE doesn't work, but whois.ripe.net 4444 does support NRTM

**To Reproduce**
Configure the following source:
[code]

**Expected behaviour**
What was expected was NRTM to work, but instead:
Remote information:
    NRTM host: whois.ripe.net port 4444
    Remote status query unsupported or query failed

**IRRd version you are running**
4.2.0b1

**Addit

[2021-04-21 09:20] mxsasha commented on #492
I am not entirely following. How it should work is:

* The mirror_force_reload command [sets the force_reload flag in the database](https://github.com/irrdnet/irrd/blob/main/irrd/scripts/mirror_force_reload.py#L22) - this is a very fast operation, as it only updates the status.
* When import_timer expires (and there is no current mirroring process running for the source), the mirror runner for the

[2021-04-21 12:44] rubenskuhl commented on #492
The thing is, mirror_force_reload is not returning immediately... it takes a really long time(in order of minutes) to exit the process. Which is unexpected if all it's doing is setting a flag.

[2021-04-21 12:52] mxsasha commented on #492
That definitely does not sound right. I have not seen it before Is it reproducible for you? If so, can you start the command, and while it is waiting, run this PostgreSQL query:
[code]
I suspect it might be a locking issue, but I don't know what process could lock the database status table for so long. I think in the long/complex transactions, it is (intentionally) only updated just before committ

[2021-04-21 14:17] rubenskuhl commented on #494
After being whitelisted by AFRINIC, I can reproduce the same error with them as well:
2021-04-21 14:15:53,417 irrd[2038142]: [irrd.mirroring.mirror_runners_import#DEBUG] Received NRTM response for AFRINIC: %ERROR:401: invalid range: Not within 1-1060647

But since RIPE doesn't require whitelisting, it's easier to reproduce with RIPE

[2021-04-23 01:59] rubenskuhl opened #496 "Can't disable inetnum"
**Describe the bug**
All attempts to turn compatibility.inetnum_search_disabled on failed.

**To Reproduce**
Try adding the option to the config file. The example doesn't include this section, being suggestive that it might not be supported.

**Expected behaviour**
Either it should work or be removed from documentation if it's no longer in the code.
It's possible to be a config error, so an exampl

[2021-04-23 11:26] rubenskuhl commented on #494
Just adding a query showing that RIPE supports NRTM from that client IP address:
[code]

[2021-04-23 11:28] rubenskuhl commented on #494
Any comments on this, @mxsasha ?

[2021-04-27 12:33] mxsasha commented on #496
How exactly did it fail? Note that it does not enforce that no inetnums are ever processed - it means you promise IRRd you're not doing that, or if you do, you're willing to accept incomplete query responses. Basically, it [enables an optimised query method](https://irrd.readthedocs.io/en/latest/users/queries/#performance-of-prefix-queries) that is much faster but can't work for inetnums.

It migh

[2021-04-27 12:41] mxsasha commented on #494
The message:

Is slightly confusing. It doesn't mean that NRTM is failing, it only means that the `!j` status query was not successful. It never will be, because RIPE (and other RIPE-based databases lik AFRINIC) do not support it.

This message:

Is also somewhat misleading. I don't have the rest of your log, but I am assuming that your local IRRd was up to date with AFRINIC up to 1060646. IRRd ha

[2021-04-27 12:48] rubenskuhl commented on #496
It failed as in saying the config was wrong and refusing to start the service.

[2021-04-27 12:50] rubenskuhl commented on #494
Any way to tell that an IRRd 4.2 depolyment is currently able to NRTM RIPE-like sources ?

[2021-04-27 12:53] mxsasha commented on #494
You can see whether new changes are reflected. That's the only concept of "working" hat exists in NRTM. RIPE has fairly frequent changes, so you should see your local serial increasing, and also see updates to objects appear in the logs.

[2021-04-27 18:50] rubenskuhl opened #497 "Memory usage when using RPKI"
**Is your feature request related to a problem? Please describe.**
Memory usage for RPKI ROA Import is higher than similar solutions

**Describe the solution you'd like**
For a future version to run on 16GB RAM machines; it currently requires 32 GB, mostly because of memory usage during ROA Import

**Describe alternatives you've considered**
We considered turning RPKI off, but ended up managing to

[2021-05-06 19:44] fischerdouglas commented on #497
As I can see, on IRRd, there are some specific jobs that take very much computational effort to be completed.

But the basics of software runs very well with not too many resources.

RPKI validation is one of the jobs that bring some computational spikes.
I believe that Full Imports are also another big resource consumer.

Considering the conception of IRRd, I guess that wouldn't be very much comp

[2021-05-06 20:18] job opened #499 "Add support new rpki-client JSON format?"
The `rpki-client` JSON output format is slightly changing, an example of the new format can be found here: http://console.rpki-client.org/vrps.json

1) the `asn` value no longer is a string prefixed with `AS`, but rather just a simple integer.

~~2) a new `expires` key has been added: the value signifies when the VRP will expire in of seconds since the Epoch, UTC, given the expiration timers on cu

[2021-05-20 14:20] jhujhiti opened #502 "SQLAlchemy error during initial import:"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Include what query you were running, or what e-mail submission you made, and the exact output.
Remember to obscure passwords, but never remove entire lines.

**Expected behaviour**
A clear and concise description of what you expected to happen.

**IRRd version you are running**
E.g. 4.0.0-RC1.

**Additional

[2021-05-20 14:20] #502 closed, assigned to nobody

[2021-05-20 14:32] jhujhiti opened #503 "SQLAlchemy error during initial import: "does not support in-place multirow inserts""
**Describe the bug**
While doing initial database imports, I'm seeing a strange error from SQLAlchemy: "sqlalchemy.exc.CompileError: The 'default' dialect with current database version settings does not support in-place multirow inserts." This appears to stop the import in its tracks until the next time the import timer goes off, when it tries and fails again. The full stack trace is:

[code]

I'm

[2021-05-20 14:47] mxsasha commented on #503
Thanks for the detailed report! My quick reading is also that this particular error occurs before running the ongoing INSERT query on the database. I suspect there is an earlier error that caused SQLAlchemy to end up in a state where it can not process the ongoing query. Do you see any earlier errors in the IRRd or PostgreSQL log?

(Note that it is normal for IRRd to log some errors about objects

[2021-05-20 16:28] jhujhiti commented on #503
You're exactly right. I found the issue! Thanks. Bit embarrassed to have opened this issue because the extremely long lines are confusing my logging system and overflowing my huge terminal scrollback window, but it was ultimately caused by a Postgres worker process OOMing. I'm even more confused by the SQLAlchemy code path that results in a different database dialect than the one that irrd explici

[2021-05-20 16:28] #503 closed, assigned to mxsasha

[2021-05-28 14:37] mxsasha commented on #499
For point 1, this is already mostly supported, the only issue is that SLURM validationOutputFilters would not be correctly matched.

For point 2, maybe, we can take this into consideration in #497. Otherwise, extra data in the JSON is ignored, so it won't break anything.

[2021-05-28 14:41] mxsasha commented on #497
I haven't put much work into optimising this so far - most of the focus in performance improvement was for queries and particularly certain queries. I will look into the possibilities :)

Technically it's a fairly independent process, so it could be separated. However, it would add overhead to run it on an a separate cloud environment, so I'm not sure this is the most practical approach for now.

[2021-05-28 14:42] mxsasha commented on #489
@rubenskuhl any thoughts on this? I'm happy to update the sample in the docs, but was puzzled by what I commented before.

[2021-05-28 14:43] #494 closed, assigned to nobody

[2021-05-28 14:46] mxsasha opened #505 "Add a troubleshooting section to docs?"
#503 is an issue that several people have run into, where some of the IRRd logs can be confusing.
This should definitely be documented. Maybe there are other useful troubleshooting tips too.

[2021-06-10 19:40] rubenskuhl opened #510 "RPKI importer may not time out HTTP connection properly"
**Describe the bug**
RPKI not updating at configured frequency

Current time: Thu 10 Jun 2021 07:36:42 PM UTC
From /status:
Status for RPKI
-------------------
Local information:
    Authoritative: No
    Object class filter: None
    Oldest serial seen: None
    Newest serial seen: None
    Oldest local journal serial number: None
    Newest local journal serial number: None
    Last export at se

[2021-06-15 09:26] mxsasha commented on #510
I think this might be the `last update` time not updating, rather than the RPKI importer not running. Are you seeing any log messages about RPKI importer runs?

[2021-06-15 09:36] #489 closed, assigned to nobody

[2021-06-15 11:22] rubenskuhl commented on #510
No, the only references to RPKI in logs is from NTRM of other sources. And we got to this exactly because an invalid entry wasn't being removed after a ROA has been published.

[2021-06-16 11:08] mxsasha commented on #510
Is there any irrd process running that has RPKI in the name? And I imagine the last import from 2021-06-07 00:02:48.469714+00:00 must have left something in the logs?

[2021-06-17 18:35] job commented on #499
Dear @mxsasha ,

It appears _point 1_ has become a blocker for some ISPs to upgrade their RPKI validators.

Would it be possible to resolve _point 1_ with a backport to 4.1.x ?

Kind regards,

Job

[2021-06-17 20:34] job commented on #499
Now both variants are supported?

[2021-06-17 20:37] mxsasha commented on #499
It should, yes. But will do a bit more testing.

[2021-06-18 09:00] job commented on #499
I realize I should've made two issues, I updated the original posting :-)

[2021-06-18 15:28] job commented on #499
I tested this PR applied to b16bd506e494f2c6dc81a3e65a3c353ca4525e6d

both formats (old and new) work correctly

[2021-06-19 01:25] rubenskuhl commented on #510
[code]

And I imagine the last import from 2021-06-07 00:02:48.469714+00:00 must have left something in the logs?

021-06-07 00:06:06,117 irrd[10424]: [irrd.mirroring.mirror_runners_import#INFO] RPKI status updated for all routes, 0 newly valid, 0 newly invalid, 0 newly not_found routes, 0 emails sent to contacts of newly invalid authoritative objects
2021-06-07 00:56:44,327 irrd[2164]: [irrd.mirr

[2021-06-20 17:20] mxsasha commented on #510
So, it seems 11909 got stuck somehow. The scheduler detects that as the RPKI importer still running, and therefore will not start another one. If I read that ps right, the CPU time is zero seconds, which means it must have failed very early on. RPKI importing is a CPU intense process. Early failure also makes sense with 41MB memory use.

Could you run strace against the process to see if it is han

[2021-06-20 17:20] #499 closed, assigned to mxsasha

[2021-06-20 17:39] mxsasha commented on #497
I did some more digging into this. RPKI importing is a two phase process:

1. Removing current ROAs from database, and then reading the JSON file into both the database and a trie in memory. ROAs means the roa_object table and the pseudo objects with source RPKI. Phase 1 is in a single transaction.
2. Reading all current route(6) objects, checking their validation status against the trie in memory

[2021-06-20 17:55] mxsasha commented on #497
This on its own cuts down RPKI memory use to 3GB, so big improvements are viable. (Only a quick test, which would break email notifications.)

On a more general note, I do think it should be possible to run IRRd already in 16GB, with a low amount of HTTP and whois workers. It's tight, especially during initial imports of large amounts of data, so you might need to add the sources a few at a time,

[2021-06-20 20:23] rubenskuhl commented on #510
sudo strace -p 11909
strace: Process 11909 attached
read(16,

(and keeps at that)

I will refrain on it until diagnostic is done.

[2021-06-20 20:32] mxsasha commented on #510
Ok, so it's trying to read from file descriptor 16, and that call blocks. Can you share `lsof -n -p 11909` ? That should tell us more about the open file descriptors and might tell us more about what 16 is.

[2021-06-20 20:39] rubenskuhl commented on #510
It seems 16 is this one:

irrd-ROAI 11909 irrd   16u  IPv6             163697      0t0     TCP [2804:890:0:102::102]:50026->[2001:418:3ff::ffff:248]:https (ESTABLISHED)

[2021-06-20 20:43] rubenskuhl commented on #510
Just out of curiosity, I tried this and could fetch the ROA feed:

curl -O https://rpki.gin.ntt.net/api/export.json
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 20.6M  100 20.6M    0     0  6165k      0  0:00:03  0:00:03 --:--:-- 6163k

[2021-06-20 21:23] mxsasha commented on #510
The read should have timed out. I will have a closer look at the code for this regarding timeouts. I don't think we can extract further useful info from this process, so feel free to go ahead and kill the process. The next run of the scheduler (15 seconds) after that should start a new RPKI importer, and if this is indeed just a broken timeout, I expect that one to run normally.

[2021-06-20 21:32] rubenskuhl commented on #510
RPKI import and validation completed after killing the old process, so everything fine for the time being.

[2021-06-21 11:32] fischerdouglas commented on #497
Hello @mxsasha
Thanks for this deeper analysis...

But I will insist a bit on the idea of breaking the monolithic of IRRd.

How hard would be to defining resources pools, and running external queries (whois, e-mail, http) on a small and stable resource pool...  And all those "reprocessing" on resource pool that colud(or not) be auto-scalable and destroyed after the peak demand. ???

[2021-06-21 12:06] job commented on #497
Very hard

[2021-06-21 14:29] fischerdouglas commented on #497
Just to clarify...
When I mention the possibility of "auto-scalable", "self destroying"...

Is not expected that the IRRd deals with it... This would be dealed by other layers of compute node provisioning.

What would be expected is that IRRd points to different resource pools the "please do this to me"...
Based on the different type of jobs.

And is always possible that multiple resource-pools ru

[2021-06-22 07:51] shibuya-jp opened #514 "some columns are not created"
Hello, I'm an engineer of JPNIC and in the process of evaluation that we can adopt IRRd version 4 as a software for JPIRR in the future.

It seems that IRRd table configuration does not finish as described in the official documentation.
https://irrd4.readthedocs.io/en/master/admins/deployment.html#creating-tables
We believe that the python command file irrd_database_upgrade is meant to execute all

[2021-06-22 09:55] mxsasha commented on #514
This sounds like a bug, but a bit puzzling that it hasn't been encountered before.

Database upgrades are logged in the irrd logfile. Could you have a look on what that logged when you ran irrd_database_upgrade?

And do you remember which columns were missing?

[2021-06-22 09:58] shibuya-jp commented on #514
Thank you for your confirmation.
Let me get back to you when I can answer for sure.

[2021-06-22 19:58] troy2914 opened #515 "TODO on 4.1.4 /admin/migrating-legacy-irrd docs"
looking at https://irrd.readthedocs.io/en/stable/admins/migrating-legacy-irrd/

it has a "TODO: link to deployment guide"

[2021-06-22 20:22] troy2914 commented on #514
btw, i just tested with a fresh db:  connected to template1,  ran:
[code]

then was able to run
[code]

I was trying this on my mac,  irrd is unhappy about something,  but doesn't seem to be about the db.

btw, highly recommend you upgrade to the latest stable (currently 4.1.4).

[2021-06-24 09:33] shibuya-jp commented on #514
I guess alembic didn't make all of the columns assumed to be created.
I encountered the following error mail when trying to create objects and found the problem.

[code]
postgres's log:
[code]
the below is the irrd log when I tried alembic migration.
[code]
the below is the log of succeeding when I  manually executed alembic initialization.
[code]

[2021-06-24 09:39] shibuya-jp commented on #514
Thanks for your confirmation.
I'll consider upgrade the version.

Later I found there was a possibility of the different execution environment you assume.
That is; your documents assume this program should be executed under the virtualenv, but I happened to execute under the different pyenv. It might lead to this missing.

If you cannot reproduce this problem, I'd like to report separately when I

[2021-06-24 11:45] troy2914 commented on #514
and my empty db does have a rpki_objects.rpki_status field.   what version of irrd were you upgrading from?

[2021-06-25 03:18] shibuya-jp commented on #514
That was from 4.1.1.  We started the evaluation of irrdv4 in October 2020, and I think that was the latest version at that time.
I'm aware this may be too old. Now we review our set-up process and report the issue we met. If you cannot reproduce this matter in the latest version, I don't mind this ticket is closed.

[2021-06-25 20:02] troy2914 commented on #514
Interesting, as 4.1.1 (even 4.1.0) should have that column present.   I have done a 4.0.1 upgrade to 4.1.0 to 4.1.1 to 4.1.2 to 4.1.3rc1 and 4.1.4 with no problems.

[2021-06-27 14:54] #497 closed, assigned to mxsasha

[2021-06-27 15:27] #510 closed, assigned to mxsasha

[2021-06-27 18:19] mxsasha commented on #514
I can't reproduce this or explain it. Also, the integration tests run something very close this scenario on every commit. So closing unless we get more info at some point.

[2021-06-27 18:19] #514 closed, assigned to nobody

[2021-06-27 19:42] #515 closed, assigned to nobody

[2021-06-28 13:13] mxsasha commented on #496
This works for me, but looking at the docs I realise that they might be ambiguous: when the docs say `compatibility.inetnum_search_disabled`, it means a config like:

[code]

[2021-06-28 13:19] #488 closed, assigned to mxsasha

[2021-06-28 13:32] mxsasha commented on #487
Digging up the original report, this was mainly about IRRd being killed rather than an exception occurring during import. This is rather difficult to resolve, files are already in an appropriate temporary directory, and are only large on full imports, which are fairly rare. Therefore, closing.

[2021-06-28 13:32] #487 closed, assigned to mxsasha

[2021-06-28 13:41] #505 closed, assigned to mxsasha

[2021-06-28 13:42] mxsasha commented on #492
Is this still happening, @rubenskuhl ?

[2021-07-02 20:17] rubenskuhl commented on #492
I've been unable to reproduce it, @mxsasha .

[2021-07-02 21:32] rubenskuhl commented on #496
Defining as this it worked.

[2021-07-11 15:16] rubenskuhl opened #518 "Users can create infinite mail loops by choosing the RPSL submit address as its notify address"
**Is your feature request related to a problem? Please describe.**
Nothing in IRRd prevents an user from choosing the RPSL submit address as an object notify address. So all it's needed to create an infinite mail loop is to change an object notify address to the RPSL submit address, and then submit an update. This will trigger the infinite loop chain.

**Describe the solution you'd like**
I believ

[2021-07-11 15:31] mxsasha commented on #518
If I understand you right, the email avalanche is caused by IRRd sending a notification to itself, to which it replies about a parsing or authentication failure, which triggers another reply to itself? Bit confused on what the steps are here to cause the avalanche.

Blocking certain notification addresses is an option, but it's not my first choice because it depends on an admin to configure this a

[2021-07-11 21:19] rubenskuhl commented on #518
[code]

[2021-07-11 21:21] rubenskuhl commented on #518
It requires 2 steps:
1) Change the notification contact on an object to be the RPSL submit address (usually auto-dbm@ for most IRR deployments)
2) Make a change to that object that triggers a notification

[2021-07-18 12:03] mxsasha commented on #518
It seems the issue is more that the from email address for IRRd mails should be some kind of noreply address? Or at least, not the IRRd submission address.

If email.from is set to the IRRd submission address, this also means any bounces will end up being treated as new IRRd submissions, triggering another response from IRRd. Not great, even if it does not result in a loop in that case. So I think

[2021-07-18 12:04] #496 closed, assigned to mxsasha

[2021-07-18 12:04] #492 closed, assigned to nobody

[2021-07-18 13:44] rubenskuhl commented on #518
The email.from is not set to the IRRd submission address:
[code]

[2021-07-18 14:04] mxsasha commented on #518
And db-admin@bgp.net.br is not the submission address for IRRd? Then I don't see how it could be a loop. Consider these two cases.

If auto-dbm@example.net is the IRRd submission address, and is set as the email.from address:

- User sets notification contact to auto-dbm@example.net
- Object is modified causing a notification to be sent to auto-dbm@example.net
- IRRd receives that notification as

[2021-07-28 11:37] mxsasha opened #524 "Possible incorrect journal state when combining scope filter and RPKI"
If the state of an RPSL object changes between RPKI invalid and RPKI {valid,not_found}, we create a journal entry with an ADD or DEL. The same happens with being in our of of scope for the scope filter.

However, consider the following:

* An object is RPKI invalid and out of scope
* The status changes to RPKI valid
* This triggers an ADD journal entry, even though it is still out of scope

The in

[2021-07-28 11:49] mxsasha commented on #518
@rubenskuhl any more thoughts on this?

[2021-07-28 13:05] mxsasha commented on #524
This bug is confirmed by looking at the code.

[2021-07-28 16:38] mxsasha opened #525 "Look into scope filter memory use"
#497 may also affect the scope filter. Runs rarely so it's less of an issue, but worth seeing if we can reuse the optimisations made for #497. Investigating this is a release blocker.

[2021-07-28 16:42] mxsasha opened #526 "Scope filter does not verify aut-num objects"
Looking at [current code](https://github.com/irrdnet/irrd/blob/9a9cbc6f8bf03b08a96e839512108054e2c88277/irrd/scopefilter/validators.py#L72) the scope filter doesn't actually check any aut-nums. This is definitely an oversight/bug. Likely in 4.1 too, needs to be checked.

[2021-07-29 12:06] mxsasha commented on #526
Reopening as this needs a backport to 4.1

[2021-07-29 12:21] mxsasha commented on #524
Reopening for backport to 4.1

[2021-07-29 12:59] mxsasha opened #531 "Review 4.2 release notes"
As we're almost ready for an RC and then release, we should do a final review of 4.2 release notes after releasing 4.1.5.

[2021-07-29 13:12] #525 closed, assigned to mxsasha

[2021-07-29 13:16] mxsasha opened #532 "Refactor common components of scope filter / RPKI code"
The RPKI and scope filter validators and related processes, and even documentation, have a lot in common. There's very likely to be opportunities for reusing shared components in code and docs. Might have prevented #525 being missed when doing #516, or prevented #524.

[2021-07-29 15:11] mxsasha commented on #532
Related but perhaps separate: the mirror scheduler is used for RPKI and scope filter too, but those aren't really mirrors, so it doesn't fit as neat as it could. Some refactoring could be helpful.

[2021-07-31 10:51] troy2914 opened #533 "Fix support for fail-over through regular mirroring re password hashes"
We were running 4.1.4

Doing maintenance in one location we wanted to fail over to the other location.
Found out 5 days later that the other location did not have crypt's.  So updates without the override password (or PGPKEYs)
were failing.   Seems for situation like it would be nice to have a trusted_source list, that whois/NRTM/https connections from would not hide the crypt's.

[2021-07-31 11:21] mxsasha commented on #533
I see the point here. One thing that we definitely need to do is update the migration documentation, as it may affect migrations from legacy IRRd as well.

For PGPKEY, the data is never masked, the issue is only that PGP keys from mirrors are by default not inserted in the local gpg keychain which is used for verifying signatures. That part can be fixed by setting `strict_import_keycert_objects`.

[2021-07-31 20:54] tangledhelix commented on #533
@mxsasha Whatever you do, we'd like to see it backported to 4.1.x, if that's a possibility.

[2021-08-05 07:23] guzzim opened #535 "ROA using 4294967295 32-bit last ASN for Negative Attestation"
**Describe the bug**
32-bit 4294967295 ASN used for Negative Attestation appear to cause the RPKI validation to fail on import of the json file.

Error message in the log is
2021-08-05 05:52:49,741 irrd[8971]: [irrd.mirroring.mirror_runners_import#INFO] Running full ROA import from: https://rpki.gin.ntt.net/api/export.json, SLURM None
2021-08-05 05:53:37,635 irrd[8971]: [irrd.rpki.importer#ERROR]

[2021-08-05 08:49] guzzim commented on #535
This got me out of trouble with my sandbox

[code]

It might be more preferable the script skips over the dud entries and logs them as opposed to aborting all together.

[2021-08-05 09:54] mxsasha commented on #535
You are entirely correct, the ASN validator is off by one. Your proposed patch is also correct, and also fixes this in other locations. I'll pick it up the bugfix here.

I am personally leaning to either having a valid file or rejecting it. In this case, it is an error in our parser. However, in general, the entire file should be valid. A file that contains invalid entries should not be trusted, b

[2021-08-05 10:57] guzzim commented on #535
Can't argue with that, I think you're spot on there.

Many thanks

[2021-08-05 13:54] troy2914 commented on #535
This also affects IRRd -- version 4.1.4

[2021-08-06 19:58] mxsasha commented on #535
Reopening for backport to 4.1.

[2021-08-09 13:57] mxsasha commented on #533
I've drafted new documentation that outlines the options and their upsides/downsides. The new command and new settings mentioned in there aren't written yet, but it would be good if @troy2914 and/or @tangledhelix could have a look at how this would work: https://irrd.readthedocs.io/en/issue533/admins/availability-and-migration/ and see if that's a good path.

[2021-08-09 14:53] troy2914 commented on #533
That seems reasonable to me.  I wonder though have you actually tested a irrd talking to a readonly db?
Or does that require a `sources_default`  but no `sources`?    or a `sources` with only only limited options(seems there some missing documentation around this).

[2021-08-09 15:40] mxsasha commented on #533
Not yet, but I will. Rethinking this, it will actually require a specific setting, for IRRd to ignore it in RPKI and scope filtering, which is not possible to configure right now (excluding a source from RPKI or scope filter is possible, but that's different from "never touch the status").

[2021-08-13 23:33] rubenskuhl commented on #518
While your reasoning makes sense, the fact is that it happened... can we send logs via private e-mail ?

[2021-08-17 15:20] mxsasha commented on #518
Sure, my email address is in my GitHub profile.

[2021-08-24 10:41] mxsasha opened #542 "Confusing log lines with unfiltered NRTM"
https://github.com/irrdnet/irrd/blob/main/irrd/server/whois/query_parser.py#L472-L473 is causing a rejection log message unless a host is found in both access lists. This can be very confusing to the admins.

Introduced in #533

[2021-08-24 12:44] #542 closed, assigned to mxsasha

[2021-08-27 16:24] sumkincpp opened #543 "RS expansion not returns address prefix ranges?"
**Describe the bug**
It seems, that RS-Expansion does not return address prefix ranges.

**To Reproduce**
[code]

**Expected behaviour**

This expansion should also return address prefix ranges
[code]

**RADB**: works as expected

**IRRd version you are running**
4.1.4

**Relevant places**
Members are being tested as IP-Addresses:
https://github.com/irrdnet/irrd/blob/c904fb94f5854f05069a7ca337494c

[2021-08-28 17:10] mxsasha commented on #543
This indeed looks like a bug and you are right about where it is. Curious, because this was introduced in 86baffd3dec0b715ee6c49675bf9e2af7f634b90 which was already in 4.0, and we did run comparisons between legacy IRRd and this. Must be somewhat rare.

[2021-08-28 17:11] mxsasha commented on #535
Released in 4.1.5

[2021-08-28 17:11] #535 closed, assigned to mxsasha

[2021-08-28 17:11] mxsasha commented on #533
Released in 4.1.5

[2021-08-28 17:11] #533 closed, assigned to mxsasha

[2021-08-28 17:11] mxsasha commented on #526
Released in 4.1.5

[2021-08-28 17:11] #526 closed, assigned to mxsasha

[2021-08-28 17:11] mxsasha commented on #524
Released in 4.1.5

[2021-08-28 17:11] #524 closed, assigned to mxsasha

[2021-08-30 10:58] mxsasha commented on #543
Still needs backport to 4.1

[2021-08-30 18:16] mxsasha commented on #543
Released in 4.1.6, thanks!

[2021-08-30 18:16] #543 closed, assigned to mxsasha

[2021-08-30 18:21] #531 closed, assigned to mxsasha

[2021-08-30 18:21] mxsasha commented on #531
This is done

[2021-09-04 12:53] mxsasha opened #546 "NRTM parser accepts partial NRTM content"
The NRTM response parser does not check whether the NRTM responded had `%END <source>` at the end. This can cause missing data in mirroring when the TCP connection is disrupted, causing only part of the NRTM response to arrive in IRRd.

Legacy IRRd, IRRd 4 and RIPE db all include the `%END <source>` marker, so we can require that in all NRTM responses. Without it, the entire NRTM response should b

[2021-09-04 13:59] mxsasha opened #548 "Scope filter may be broken (KeyError on pk)"
Logs from an instance on current main:

[code]

Definite new bug in scope filter introduced in #530 because [we don't retrieve that column](https://github.com/irrdnet/irrd/blob/main/irrd/scopefilter/validators.py#L115) which has not been noticed by the tests. Might be a case of #329. Does not affect 4.1.

[2021-09-04 14:16] #548 closed, assigned to mxsasha

[2021-09-07 17:12] mxsasha commented on #546
Backport released in 4.1.7

[2021-09-07 17:12] #546 closed, assigned to mxsasha

[2021-09-11 12:30] benmaddison opened #551 "Legacy !m query compatibilty for multi-key object classes"
The `!m` query syntax when querying multi-key RPSL object classes is
unexpectedly changed between v4 and legacy versions.

Legacy versions expect the key values to be separated with either ` ` or `-`.
v4 expects the key values to be concatenated with no separator.

For example, when querying `route` objects:

[code]

As a result, it is not possible to construct a query that is acceptable across ve

[2021-09-11 12:32] benmaddison commented on #551
The relevant legacy code:
https://github.com/irrdnet/irrd-legacy/blob/f4f67eee2800ae863f77d042a553908904cea41b/src/programs/IRRd/irrd_util.c#L322-L325

[2021-09-13 15:06] mxsasha commented on #551
That feels like a strange way to format that query, but I think we can add support for both formats and still slide it into 4.2. Not planning to backport to 4.1 though. Also, this seems rare enough that we didn't encounter it in comparison testing.

[2021-09-13 17:32] #551 closed, assigned to mxsasha

[2021-09-14 15:10] mxsasha opened #555 "scopefilter_enabled flag in !J query incorrect"
The `scopefilter_enabled` flag in the output of !J queries (and perhaps the status page) is incorrect: it only looks at whether the source is excluded, but ignores whether the scope filter is enabled at all.

[2021-09-15 12:29] mxsasha commented on #555
Keeping open for backport for next 4.1 and 4.2 release, but not urgent

[2021-09-15 19:35] ericparton opened #557 "IRRd 4.2.0 fails to start when run in foreground mode and no logging configuration is set"
**Describe the bug**
I'm testing out an upgrade to IRRd 4.2.0 in a test environment where logging isn't really important. IRRd is run there with the --foreground argument, but it fails to start and prints the following error:

[code]

**To Reproduce**
Run IRRd with the foreground argument like so:
[code]
and with the following logging configuration in the yaml configuration file:

[code]
**Expecte

[2021-09-15 19:47] mxsasha commented on #557
Yes, I can see how this is failing, and definitely is a bug. Logging to a file is the easiest workaround, if you really want to log to stdout for some reason, you could probably do it with a custom logging config.

[2021-09-22 16:53] fischerdouglas opened #559 "opt-out for as-set hierarchical name - just for legacy objects"
**Is your feature request related to a problem? Please describe.**
If I understood correctly "compatibility.permit_non_hierarchical_as_set_name" exception was created to support legacy databases that are in process to migrate to IRRd4. IRR bases that until today supports non-hierarchical AS-SET names.

But is a fact that the hierachical as-set mas is a good Idea to avoid mistakes...
Especially con

[2021-09-24 19:47] mxsasha commented on #559
Yes. That is already the default. We allow updating existing objects, because you can't "update" the name of an as-set - a different primary key means you are creating a new one. It seemed too harsh to not allow a user to update their existing set because we have since then decided that the name is invalid. Particularly because the set name is referred by other objects and external configuration.

[2021-09-25 19:03] mxsasha opened #560 "Missing object imports in duplicate RPSL keys in the same source"
IRRDv4 is built on the assumption that the primary key is unique in each source. However, this is not true, and causes IRRD to miss objects.

The scale of this is unknown, but this has been the case since before 4.0.0, so likely not too widespread. It also has not come up in the many v3/v4 consistency checks.

One case is AS-DONNATRANS, which is both a mntner and as-set in RIPE. The import of one

[2021-09-25 19:07] mxsasha opened #561 "IRRD incorrectly permits bare IP address for address-prefix"
RFC 2280 says an address-prefix [must include a length](https://datatracker.ietf.org/doc/html/rfc2280#section-2). This is used for route object keys, amongst other places. At least in strict validation, we should enforce this, and it was reported that IRRD does not do that right now.

[2021-09-25 21:34] job commented on #560
Your idea how to fix it makes sense to me

[2021-10-02 15:02] rubenskuhl opened #563 "Upgrade from 4.2.0b1 to 4.2.0 release doesn't work"
**Describe the bug**
Upgrading from 4.2.0b1 to 4.2.0 release doesn't work

**To Reproduce**
Install 4.2.0b1, then upgrade, run irrd_database_upgrade and then start 4.2.0

**Expected behaviour**
Upgrading to work

**IRRd version you are running**
4.2.0b1, 4.2.0

**Additional context**
It seems the problem is in database configurations:
"sqlalchemy.exc.OperationalError: (psycopg2.OperationalError) F

[2021-10-05 18:52] mxsasha commented on #563
I think something else is happening here. I'm guessing that your database_url is configured so that PostgreSQL connects over a unix socket using peer authentication, and you are running the database_upgrade script as root. Therefore, PostgreSQL sees you as the root user (which does not exist by default in PostgreSQL), instead of the irrd user you probably did create and give permissions in Postgre

[2021-10-10 21:38] rubenskuhl commented on #563
Actually, we ran database_upgrade as irrd... but we ended up finding the issue. PyPi never worked for us to compile IRRd, but the installation was trying to use PyPi instead of CPython when using pip3. Solution was to use python3 -m pip to force use CPython, and now everything works.

[2021-10-10 21:38] #563 closed, assigned to nobody

[2021-10-29 14:48] mxsasha commented on #555
Released in 4.1.8, was already included in 4.2.

[2021-10-29 14:48] #555 closed, assigned to mxsasha

[2021-10-29 14:48] mxsasha commented on #518
I didn't hear back, so I'm closing this for now.

[2021-10-29 14:48] #518 closed, assigned to mxsasha

[2021-10-29 14:49] #559 closed, assigned to nobody

[2021-10-29 15:05] mxsasha opened #573 "Add bcrypt password hash algorithm"
IRRD currently supports CRYPT and MD5 password hashes. Neither is very good for passwords. We should add a new more suitable hasher, possibly Argon2 or bcrypt. Merit is discussing internally what they see as the best choice.

[2021-10-29 15:08] mxsasha opened #574 "Add option to disable legacy password hashers"
With #573, we could also offer a configuration option to disable old password hashers in newly created/modified authoritative objects.

[2021-10-29 15:12] mxsasha opened #575 "Extended RPSL set name validation and authentication"
Creation of RPSL set objects, as-set, filter-set, peering-set, route-set and rtr-set, currently has few authentication restrictions. If a user has access to any mntner, they can create new sets. For as-set there is a requirement for the first element to be an AS number, e.g. “AS65537:AS-EXAMPLE” when creating new objects as of IRRD 4.2, though this can be disabled.

The plan for this issue is to e

[2021-10-29 15:12] troy2914 commented on #573
[Argon2](https://en.wikipedia.org/wiki/Argon2)
or
[Bcrypt](https://en.wikipedia.org/wiki/Bcrypt)

[2021-10-29 15:20] mxsasha opened #576 "Replacement for legacy irr_rpsl_submit"
RADB uses legacy IRRD with ties to irr_rpsl_submit script. This script reads the contents of an email from stdin, processes the changes, and produces a report on stdout. For migration, it is very helpful that they have a replacement for this script, run on a different host than the one that runs the IRRD instance.

IRRDv4 will be extended with an interface for this, most likely taking the form of

[2021-10-29 15:39] mxsasha opened #577 "Add support for mntner account suspensions"
RADB customers need a subscription to keep their objects active in the database. Subscriptions may expire or be cancelled. They can also be reactivated after expiration. All objects in RADB must have at least one mnt-by that has an active subscription. A database object is suspended if the last mntner on that object is suspended, which means it has no active mntners in its mnt-by.

The implementat

[2021-10-30 15:19] mxsasha opened #578 "Excessive file descriptor growth in main process on PyPy"
Under PyPy, the number of open files in the main process grows continuously, in the form of FIFO pipes. The growth seems continuous, until the maximum number of open files is reached, the main process can not start a new mirror export/import, and quits.

After 20 minutes, the main process is already at 100 pipes. According to lsof, there is nothing on on the other side of the pipe - I have not bee

[2021-10-30 19:19] mxsasha opened #579 "Separate scheduler and process manager"
The MirrorScheduler currently deals with running all periodic tasks. Initially this was import and export, now also RPKI and scope filter updates, which have been molded to look like mirror processes but are not quite the same. Next to scheduling, it also deals with process management.

This should be refactored, separating "what tasks should be running" from the management of the child processes

[2021-11-01 14:54] mxsasha commented on #578
Also reported in 55707f4b3a9d50ae3739603af5748b516c46bf1f on:
Python 3.7.10 (77787b8f4c49, May 15 2021, 11:50:33)
[PyPy 7.3.5 with GCC 7.3.1 20180303 (Red Hat 7.3.1-5)]

[2021-11-01 18:38] mxsasha opened #581 "Reject queries containing null bytes"
Some people send queries to port 43 with null bytes. These don't seem like valid queries, possibly random exploit attempts, but IRRD just treats it as a free text query, which breaks during the SQL translation. There is no other impact, it pollutes the logs a bit with exceptions and tracebacks.

We should simply reject all queries with null bytes as invalid.

[code]

[2021-11-10 13:27] lamehost commented on #557
This issue makes it difficult to run IRRd within a docker container. Is there any plan to fix it any time soon?

[2021-11-16 21:00] mxsasha opened #587 "last-modified attribute should not be rejected on authoritative updates"
IRRD automatically adds the last-modified attribute on authoritative objects since #290. However, when submitting changes to objects, IRRD rejects this attribute as it's unknown. This makes sense as it's not a "real" RPSL attribute, but IRRD should just replace the value. This is potentially very confusing for users.

For rpki-ov-state (#270) we probably already discard it silently, but should dou

[2021-11-26 22:31] #587 closed, assigned to mxsasha

[2021-11-27 22:03] #557 closed, assigned to mxsasha

[2021-11-28 21:32] mxsasha commented on #578
This is a [reported Python bug](https://bugs.python.org/issue39535) which has not seen any activity, interacting with a [known difference](https://doc.pypy.org/en/latest/cpython_differences.html#differences-related-to-garbage-collection-strategies) in CPython vs PyPy GC strategy.

The main process uses almost no memory, meaning the GC pretty much never runs, which on PyPy means the file descriptor

[2021-11-29 10:41] #578 closed, assigned to mxsasha

[2021-12-02 07:24] mxsasha commented on #557
This was just fixed and released in 4.2.2.

[2021-12-02 13:00] mxsasha opened #597 "[created in error] Given a list of suspended objects, move the objects into the suspended store. Includes writing delete entries to the logs."

[2021-12-02 13:01] #597 closed, assigned to nobody

[2021-12-06 16:07] mxsasha commented on #560
There's probably still an issue with deletions: https://github.com/irrdnet/irrd/blob/e8ecaa3e2fdba1b446881f6b1d848a7ca1c55ac7/irrd/storage/database_handler.py#L381-L382

[2021-12-10 11:01] mxsasha commented on #573
Merit also likes bcrypt, so that's what we're going for.

[2021-12-18 13:12] #575 closed, assigned to mxsasha

[2021-12-19 12:48] mxsasha opened #600 "Refactor: improve mocking in tests"
IRRD's tests use a lot of mocking, but it's all a bit messy, especially when mocking database results. We may be able to extract a common mock configurator that will improve clarity of tests. Especially for the commonly mocked parts, like database and RPKI validator. Some places also still use the legacy method of overriding settings with env variables, rather than the new config_override() fixtur

[2021-12-19 22:32] mxsasha opened #601 "Use new prefix column internally in database queries"
Since 4.2, the rpsl_objects table has a specific prefix column. The RPKI validator and preloader still query for ip_first+prefix_length, which is less clean and less efficient. There might be other places.
Some real quick testing suggests a fairly small performance impact, but the cleanup is worth it already.

[2021-12-20 11:48] #577 closed, assigned to mxsasha

[2021-12-23 12:17] #573 closed, assigned to mxsasha

[2021-12-27 10:29] mxsasha opened #604 "Consider dropping support for Python 3.6"
Python 3.6 has passed [end of life](https://endoflife.date/python). It's currently blocking an upgrade to the latest ujson and setuptools dependency. That should be ok for now, but eventually the 3.6 support will start hurting more. Dropping 3.6 also allows a bit of cleanup. Some OS vendors may still be supporting 3.6 for a while though, so main question is whether there are any major IRRD deploym

[2021-12-27 12:44] troy2914 commented on #604
Ubuntu 18.04 still uses python3.6

[2021-12-27 18:46] #574 closed, assigned to mxsasha

[2021-12-27 19:34] mxsasha commented on #604
Which I see is still supported until April 2023. So let's keep 3.6 support for now, and deal with it if it ever becomes a significant problem for IRRD.

[2021-12-29 16:26] troy2914 opened #607 "need to cleanup sockets for clients do not end cleanly."
We had the situation where 68 workers were working on one ip.   Looking at netstat
it revealed that all 68 to that ip where in the state FIN_WAIT2.  To which the client should
have responded with FIN,ACK,  but apparently did not.

**Expected behaviour**
after 5 minutes in FIN_WAIT2 the socket should be force-ably cleaned up.

**IRRd version you are running**
IRRd -- version 4.1.8

[2021-12-29 16:30] troy2914 opened #608 "limit connections per source ip"
building on #607

it might be helpful to limit the number of connections per random host (configurable).
With a list of hosts not to limit.

we routinely see 20-49 sessions per client.   Though most are well behaving clients that finish cleanly (unlike seen in #607).

[2021-12-29 18:29] mxsasha commented on #607
Sounds good, will dig into it.

[2022-01-13 19:32] mxsasha commented on #607
@troy2914 do you have some idea of how long these sockets were lingering? Are we talking an accumulation to 68 over a time frame of hours? More? A minute?

[2022-01-13 19:41] mxsasha commented on #607
Initial thoughts: the close was initiated from IRRD, which is normal, but the remote end did not finish the closing of the socket, making the IRRD end stuck in FIN_WAIT2 ([state diagram](https://user-images.githubusercontent.com/2212681/105720101-5638f700-5f23-11eb-8985-528d667ef7ab.png)), waiting for a FIN from the remote end. It is possible that [this line](https://github.com/irrdnet/irrd/blob/m

[2022-01-17 20:10] mxsasha commented on #607
I haven't really been able to reproduce this, so I'm planning to move forward with settimeout on the socket. It definitely seems to need a highly rare kind of misbehaving client/OS/network.

[2022-01-18 09:17] #607 closed, assigned to mxsasha

[2022-01-24 16:46] #576 closed, assigned to mxsasha

[2022-01-28 14:38] mxsasha opened #615 "Document behaviour for file imports with duplicate keys"
When doing an initial import from a file, IRRD will only import one object per key. As in, if you do an initial import from a file that contains multiple objects with the same key, IRRD silently overwrites the existing object with the latest encountered version.

The reason for this is that when writing the import process, I expected that all implementations at least agreed on the definition of a

[2022-01-31 13:36] mxsasha opened #616 "Improved personal data handling in IRR"
The IRR contains personal or business information in role and person objects, referred to by admin-c and tech-c attributes. Some of the legacy references to role/person objects are broken, as the objects to which they refer do not currently exist. There are also references to person and role objects from outside the IRR. The broken historical references can also occur for authorisation objects. Al

[2022-01-31 13:43] mxsasha opened #617 "Improved separation between IRR records and authentication"
_This is the big picture issue for RPSL authentication improvements in IRRD. Some of it may be split off to smaller issues, and this is an initial plan that will probably be adjusted. Replaces #122_

# Current problems

In traditional IRR databases, including the current IRRDv4, authentication is performed by creating mntner objects in the database, which have one or more authentication methods. T

[2022-01-31 13:46] mxsasha opened #618 "Aliases for source definitions"
When making an IRRD query, users can provide a list of sources to be considered. Their ordering is used as the search order for some queries. For convenience, IRRD administrators would like to define aliases, so that users can easily and reliably select common lists of sources, which may later be adjusted by the administrator.

IRRD will be expanded with:

- [x] A configuration option for source a

[2022-01-31 18:29] fischerdouglas commented on #617
Have you considered to support Oauth integrations?
PeeringDB already supports to be an OAuth base.

I believe we will see something in this direction by the RIRs in some time from now.
And that would be fantastic to IRRs.

[2022-02-02 12:59] mxsasha commented on #617
Not yet, but it's an interesting idea. Added it to the list to explore.

[2022-02-06 21:59] rubenskuhl commented on #587
Thanks for that @mxsasha . Have you confirmed that rpki-ov-state is being silently discarded ?

[2022-02-10 11:46] mxsasha commented on #587
Yes, set [here](https://github.com/irrdnet/irrd/blob/c466b922a8590a0d9203ee688a9233208a7ba849/irrd/rpsl/rpsl_objects.py#L418) for route for example, and there are also tests for this.

It's a bit different from last-modified, because rpki-ov-state is always relative to this specific IRRD instance, whereas last-modified is relative to the RPSL database/source. So for last-modified we accept and kee

[2022-02-15 12:04] #560 closed, assigned to mxsasha

[2022-02-15 12:14] mxsasha commented on #601
For RPKI, this is non-trivial, so can be left if still relevant for #532?

[2022-02-15 12:34] #601 closed, assigned to nobody

[2022-02-15 12:52] mxsasha commented on #36
This is now part of #422

[2022-02-15 12:54] #581 closed, assigned to mxsasha

[2022-03-17 07:51] M-anazawa opened #630 "execution result of whois"
Running whois against IRRD4(version4.1.0) has the following result.
[code]
Is it possible to get the same execution result as the following?
[code]

[2022-03-23 20:10] dhutchin-ctl opened #634 "Add parameter to the "RPSLJournalEntry" resolver to limit the number of entries to the 'N' most recent entries"
**Is your feature request related to a problem? Please describe.**
The number of journaled changes to an RPSL object could be prohibitively large to report all of them.

**Describe the solution you'd like**
SImply add an optional count to limit the number of entries.

[2022-03-24 00:48] ccaputo opened #635 "sources_default not being consistently honored, nor is IRRd style '!s'"
**Describe the bug**
I upgraded from 4.1.7 to 4.2.2 today and noticed query results have changed substantially.

Digging in, it appears that sources_default is not working for IRRd style queries, nor is IRRd style '!s'.

Given:

[code]

and

[code]

Some example results:

[code]

The above is the ALTDB result, rather than the expected RIPE result based on `sources_default` above.

[code]

In the a

[2022-03-29 13:17] mxsasha commented on #635
This is very curious, because I can't reproduce it with v4.2.2. It works exactly as expected for me (my sources_default also places RIPE before ALTDB):

[code]

You are correct that `!s` implies priority, and that removal or addition of NTTCOM should not matter for this query.

[2022-03-30 00:12] ccaputo commented on #635
Additionally, the bug comes and goes. Sometimes I get the correct result, other times not. For example:

[code]

and then minutes later without a restart of anything:

[code]

[2022-03-30 01:03] ccaputo commented on #635
In case helpful:

[code]

Am seeing that when I include NTTCOM in the list above, I am matching sources_default. This alters the SQL query to not include mention of each source.

I suspect the non-determinism above is due to the whims of PostgreSQL.

I have submitted a possible solution as a pull request #637. The solution has made things be deterministic, and correct in our use.

[2022-03-31 13:45] mxsasha commented on #604
Our dependencies are removing 3.6 support fairly fast. Out of 44 direct dependencies, I have had to pin the versions of 9 already to keep 3.6 compatibility. Two of those have vulnerabilities, but so far none that affect us. If one has a vulnerability or critical bug that does affect IRRd, our only option is to vendor the package into IRRd or fork it and fix it manually, which can take considerable

[2022-03-31 13:57] mxsasha commented on #634
Seems reasonable and doable :)

[2022-03-31 13:59] mxsasha commented on #630
This looks more like the IRRD instance you are querying has additional objects, rather than an output issue in IRRD? I'm not aware of any changed behaviour here.

[2022-03-31 13:59] #630 closed, assigned to nobody

[2022-03-31 22:38] rubenskuhl commented on #604
Would 3.8 still be in play ?

[2022-04-01 07:58] mxsasha commented on #604
Definitely. At least for [another 2.5 years](https://endoflife.date/python).

[2022-04-04 12:59] #635 closed, assigned to nobody

[2022-04-04 12:59] mxsasha commented on #635
Nice find, it's merged, thanks!

[2022-04-05 15:14] mxsasha commented on #635
Released in 4.2.4

[2022-05-08 01:02] rubenskuhl opened #647 "delete doing strict checking when not required"
**Is your feature request related to a problem? Please describe.**
In order to delete objects, IRRd is checking whether the fields in the object have proper syntax. But legacy objects might not have, due to not following current syntax requirements.

**Describe the solution you'd like**
On objects that are being deleted, only the primary key components should be checked. On a route(6) it's both pr

[2022-05-11 18:03] 2bithacker opened #649 "IRRd doesn't respond to some queries"
**Describe the bug**
Since upgrading to 4.2.4 from 4.0.8 we've been having issues with IRRd becoming unresponsive to some queries. Sometimes IRRd logs `processing query` however it never returns, keeping the socket open, and eventually the whois client times out. During this time, Postgres shows that there are connections open from IRRd, however they are all idle.

We've had some success mitigatin

[2022-05-19 19:04] briandfoy opened #651 "Should RPSLGenericNameField validate against the original value?"
I'm merely perusing the code and don't have an installation of it. While reading through RPSLGenericNameField, I saw that it's parser validated the uppercased value against a regex that looked for Latin letters, digits, underscore, and dash. Once it passes this validation, it uses the original value.

However, there is at least one character in Unicode that's outside the 7-bit ASCII range but capi

[2022-06-08 12:33] mxsasha opened #655 "irrd_load_pgp_keys command not included in installation"
The irrd_load_pgp_keys command is not installed by setup.py - I forgot to add it.

I am pretty sure the [script for this command](https://github.com/irrdnet/irrd/blob/main/irrd/scripts/load_pgp_keys.py) is included in the IRRD source distribution, so as a workaround, it should be possible to run this command from the IRRD virtualenv.

[2022-06-08 12:37] mxsasha opened #656 "When using PostgreSQL replication, preload store may not be updated"
If an IRRD mirror runs on a replicated PostgreSQL database with `database_readonly` set, changes to the IRR data are invisible to IRRD. This means there is no signal to update the local preload store (for AS->prefix info), as that comes from changes being written through DatabaseHandler. This means IRRD will answer queries that use this preload store with stale data.

The only workaround for now i

[2022-06-17 13:08] #604 closed, assigned to mxsasha

[2022-06-20 10:51] mxsasha commented on #649
I have been running a check like this on one of my own setups for a few days, and all queries are answered correctly. From the response of 41 bytes it also looks like your query is quite light.

Is there any other load on this server? Anything in Redis or PostgreSQL logs?

Do the workers that get stuck ever recover? In your log I don't see any further activity from PID 29, 36 and 33, but perhaps t

[2022-06-20 10:53] mxsasha commented on #651
Sounds like you're entirely right. Thanks for reporting, will fix this soon.

[2022-06-20 10:55] mxsasha commented on #647
I agree. There is some support in the RPSL parser already, we use it for NRTM deletes which sometimes have incomplete objects.

[2022-06-20 11:11] #651 closed, assigned to mxsasha

[2022-06-22 15:17] mxsasha opened #660 "[4.2] Failure when deleting objects with same primary keys but different object classes"
In 4.2 we fixed #560 in e8ecaa3e2fdba1b446881f6b1d848a7ca1c55ac7 (and backport b275c7d7d1c71d0c5c84c29ffd0c60993d9f9a3d). However, the delete query still only uses pk+source as key, which means duplicate key, different object class objects, will fail to delete: https://github.com/irrdnet/irrd/blob/stable/4.2.x/irrd/storage/database_handler.py#L382=

There is already a fix in main, though that invo

[2022-06-22 15:19] mxsasha commented on #660
Also see ccce3b2908d9ca781e6c9ee944ed2223f281d796

[2022-06-23 13:42] mxsasha commented on #660
Fixed in ~0d9c54e66811fb443462ef0f448f1544699c1204~ 706faa4b04d6de7a84db5d05a7f797a14ce01a28

[2022-06-23 14:04] #655 closed, assigned to mxsasha

[2022-06-23 14:20] #660 closed, assigned to mxsasha

[2022-06-24 13:38] dhutchin-ctl opened #663 "NRTM updates failing - "UUID found""
I am now getting NRTM update failures for both the LEVEL3 IRR and RADB.  On every attempt to periodically updated via NRTM (15 minutes), I am getting a failure near what appears to be the end of the update:

2022-06-24 03:52:43,036 irrd[2454181]: [irrd.mirroring.mirror_runners_import#ERROR] An exception occurred while attempting a mirror update or initial import for RADB: sequence item 0: expected

[2022-06-24 14:15] dhutchin-ctl commented on #663
For RADB, I first saw this on May 3, but it ended on May 6.  Then LEVEL3 updates starting doing this on 6/21.  Then RADB started doing this again on 6/23 as the 00:49:33 update.
And correction to the above, restarting IRRd seems to have solved the problem for RADB (either that or the update to IRRd 4.2.5).  But the LEVEL3 updates started working an hour before the restart.

[2022-06-24 14:53] dhutchin-ctl commented on #663
Troy says this is a duplicate of #661 and was fixed in the 4.2.5 release.

[2022-06-24 14:53] #663 closed, assigned to nobody

[2022-07-12 14:38] mxsasha opened #666 "Fail explicitly when missing logfile permissions"
If IRRD is started as root, configured to drop privileges, but the logfile only allows writing by root, it will start successfully, but processes will break as soon as they try to write a log line. Silently, as they can not write a log line explaining why they failed. IRRD should probably check these permissions and fail in a clear way.

[2022-08-23 14:56] #26 closed

[2022-08-23 14:57] #33 closed

[2022-08-23 14:57] #36 closed

[2022-08-23 14:57] #37 closed

[2022-08-23 14:57] #41 closed

[2022-08-23 14:57] #45 closed

[2022-08-23 14:57] #46 closed

[2022-08-23 14:57] #53 closed

[2022-08-23 14:57] #55 closed

[2022-09-09 14:36] briandfoy opened #678 "Catch bad CIDR specifics such as 68.190.176.0/23^22-24"
**Describe the bug**

irrd accepts invalid CIDR specifics, such as 68.190.176.0/23^22-24. These are allowed in route-set and filter-set objects.

**To Reproduce**

Submit this RPSL through the HTTP API:

[code]

**Expected behaviour**

The validity checker should catch that `68.190.176.0/23^22-24` is invalid because the specific subnets range (`22-24`) is larger than the subnet mask (`/23`).

**IR

[2022-09-10 14:11] mxsasha commented on #678
Makes sense! I'll fix it in a next release.

[2022-09-26 09:49] benmaddison opened #681 "Invalid `keycert` test broken with `gpg 2.3.6`"
**Description**

Test `irrd/rpsl/tests/test_rpsl_objects.py::TestRPSLKeyCert::test_parse_invalid_key`
fails with `gpg` version `2.3.6` or `2.3.7`. The same issue may exist with
other versions, but this has not been tested.

The failure occurs because the phrase `No valid data found` is expected in the
error message from `gpg`.

I have prepared a patch that fixes this, and will open a PR shortly.

[2022-09-29 10:09] #681 closed, assigned to nobody

[2022-10-10 19:43] mxsasha commented on #656
Some new thoughts: some opt-in [PL/Python](https://www.postgresql.org/docs/current/plpython.html) perhaps could be called from triggers with `ENABLE REPLICA TRIGGER` on the db. Then, a little bit of Python could kick the preload store, and the GPG importer if relevant. We may need to depend on the `updated` column to figure out which rows have been affected. If this works, it may allow PostgreSQL

[2022-10-26 15:22] mxsasha opened #690 "Explore performance improvements in sync HTTP endpoints"
Uvicorn/starlette can handle both sync and async endpoints, but there may be inefficiencies in their handling of sync endpoints. See attached screenshots for the same code, sync vs async endpoint, where the async version just called `execute_query` in a basic `@sync_to_async` wrapper, i.e. the actual database call is still sync, and `remove_auth_hashes` and (json) `encode` are just CPU bound. The

[2022-10-27 18:40] ericparton opened #691 "Journal Serial Expiration and Garbage Collection"
Would it be possible to add a feature that would periodically delete any NRTM transactions in the journal that occurred before a given period of time? We'd like to implement a policy where only NRTM serials from the last two weeks are available via IRRd.

[2022-10-28 13:36] mxsasha commented on #691
Yes, this is definitely something we can do. Not too difficult either - the journal is not referenced from anywhere, just queried from.

One thing to keep in mind is that it is currently also the best place to track historical object changes. IRRD has it's own log file, but that does not log all versions of every object change. So for any kind of auditing, the journal is currently the only source

[2022-10-28 18:53] ericparton commented on #691
Thanks, that's good to know. Our internal provisioning system does have it's own auditing capabilities, so we should be good to go on that front.

[2022-11-07 10:47] smbambling opened #693 "irrd-whois-worker process doesn't timeout long running open connections / queries"
**Describe the bug**
If a connection is opened to the IRRd service with no source data ( query ) passed for an period of time the irrd-whois-worker process is put into a 'hung' state and will no longer be available to process any queries passed to it from the irrd-whois-server-listener process.

Looking at these process PIDs that are in a "hung" state, via strace they are still making some basic s

[2022-11-15 15:28] mxsasha commented on #693
**Summary: I think this issue is a variant of #607 - where that looked like just a cleanup at the time, it seems this can actually cause the issue you have been seeing. If this is the same issue, you should be seeing a fair number of connections in FIN-WAIT-2 that stay stuck there - and a similar strace. If that's right, 0b3c7d149b88f56eb5a0106591c4e32282ca3692 already fixes the problem, and I can

[2022-11-15 15:30] mxsasha opened #697 "Add additional instrumentation for debugging"
When debugging, it can be very helpful to have easier access to profiling and stack inspection, with little effort. Probably hidden behind a feature flag that can be switched without restarts.

Specific ideas:
https://pyinstrument.readthedocs.io/en/latest/guide.html#profile-a-web-request-in-fastapi
https://stackoverflow.com/a/2569696

[2022-11-15 15:37] mxsasha commented on #649
Closing for now as not reproducible and no additional info. Maybe this is actually an instance of #693, but the behaviour here does seem a bit different.

[2022-11-15 16:18] dajeffers commented on #693
`netstat -tpn` does not reveal any FIN-WAIT-2 stuck connections, nor can we see the client address at all present in a connection list. This isn't to say that setting a default socket timeout won't resolve the issue, but I'm not sure it's the same behavior you're mentioning. Instead of a blocked socket, it seems more like a stuck worker that won't release its client. As more connections with this

[2022-11-15 17:14] mxsasha commented on #693
Can you see what `ss -ap` says about fd 45 of that process?

[2022-11-15 17:27] dajeffers commented on #693
The PID assigned to the stuck worker is nowhere to be found in `ss -ap` output, nor is there a file descriptor 45 found in it, either. We've looked for the PID and the client address in `ss`/`netstat` output to no avail, we see no evidence of an existing connection despite the worker thinking there is.

[2022-11-16 11:08] mxsasha commented on #693
That is very peculiar, but as your case definitely stays stuck on the same recvfrom, I do think setting the socket timeout is likely to resolve this. I'll include this in a 4.2.6 release, probably released in the next few days.

[2022-11-18 12:23] mxsasha commented on #693
4.2.6 is releases: https://github.com/irrdnet/irrd/releases/tag/v4.2.6

[2022-11-18 12:23] #693 closed, assigned to nobody

[2022-11-23 15:10] dhutchin-ctl opened #700 "Python 3.9.12 vs pypy3.9-7.3.9"
**Describe the bug**
Using pipenv to manage my virtual environment, the installation of irrd fails when pypy is used instead of CPython.

**To Reproduce**
Include
[pypyfail.bash.gz](https://github.com/irrdnet/irrd/files/10059275/pypyfail.bash.gz)
The attached bash script run on CentOS 7.9 should work to reproduce the problem.  It installs a clean Python virtual environment and then runs a basic in

[2022-11-23 19:48] dhutchin-ctl opened #701 "IRRd V4.2.5 stops handling whois requests"
**Describe the bug**
I am experiencing repeated conditions where IRRd stops handling whois (port 43) requests. This is happening roughly daily.  It is resolved by restarting IRRd.

**To Reproduce**
I don't have a definitive way to reproduce the problem.  I restarted irrd on 11/22 @ 14:16z.  As usual, we have a very high rate of queries to our IRR (not unexpected). Between 11/22 14:16z and 11/23 16

[2022-11-28 16:12] briandfoy opened #702 "Question: Are plain text RPSL submissions through the HTTP API a feature?"
The `irr_rpsl_submit` program sends plain text RPSL in the request, but I don't see that [documented as part of the HTTP API](https://irrd.readthedocs.io/en/stable/users/database-changes/#submitting-over-http). I wanted to check if what we can do now will have long-term support. I figure that the email submissions will support this.

[2022-11-28 16:18] briandfoy commented on #702
Wait, I'm an idiot. The irr_rpsl_submit converts it to JSON. I was looking at something else and confusing myself.

[2022-11-28 16:18] #702 closed, assigned to nobody

[2022-11-28 18:44] 2bithacker commented on #649
I've been testing this again on 4.2.6 and it appears to still be happening for us in our testing environment, using docker-compose to run Postgres 14.2, redis 7.0.5, and IRRd 4.2.6.

Nothing else is querying Postgres or Redis. I've enabled query logging in Postgres and it looks normal to me.

It appears that once an IRRd worker gets into this state it never appears in the logs again. I've attached

[2022-11-28 19:02] dhutchin-ctl commented on #701
Possibly related to #649 and #693.  Waiting for #700 to test.  The above failure was using pypy3.9-7.3.9.

[2022-11-28 22:47] 2bithacker commented on #649
All my previous testing was using CPython, just spent some time getting it working with PyPy instead, and the problem still occurs but not nearly as often. It also seems to only affect the first set of workers, once they're locked up, all the new workers seem to work just fine.

I did get strace attached to a stuck PyPy worker and it appears to be stuck in the same select() loop as the CPython wor

[2022-11-28 22:52] dhutchin-ctl commented on #701
For what it is worth:
server:
    http:
        workers: 8

    whois:
        max_connections: 8
 ------
CPU: 6
MemTotal: 48GB

[2022-11-30 11:55] mxsasha commented on #649
I just added a wiki page with additional debugging tips for these kind of issues: https://github.com/irrdnet/irrd/wiki/Debugging-and-reporting-tips-for-complex-issues

For your strace, which process were you monitoring? Because that select call looks like a one second sleep, it doesn't actually wait for any sockets. We do one second sleeps repeatedly in the main process (and then schedule new task

[2022-11-30 12:04] mxsasha commented on #701
Also may be relevant here: I just added a wiki page with additional debugging tips for these kind of issues: https://github.com/irrdnet/irrd/wiki/Debugging-and-reporting-tips-for-complex-issues

Regaring the EOFError, are you sure you aren't running out of memory? Would not expect it with 48GB, but it is apparently a possible case.

The number of functioning workers does not decrease? As you start

[2022-11-30 17:18] 2bithacker commented on #649
I was looking at the pid that logs the "processing query" message:
[code]
`ps -uw --pid 46`:
[code]
`strace -p 46 -s 1000 -tt -yy`:
[code]